.product-delivery
  .product-delivery__block.product-delivery__block--delivery
    .product-delivery__title Доставка
    ul.product-delivery__list.list-marked
      li.product-delivery__item
        a(href='/dostavka-i-oplata.html#smv') Самовывоз (Санкт-Петербург)
      li.product-delivery__item
        a(href='/dostavka-i-oplata.html#dst_kyrier') Доставка курьером
      li.product-delivery__item
        a(href='/dostavka-i-oplata.html#russianpost') Доставка Почтой России (бесплатно при оплате заказа на сумму, превышающую 7 000 руб.)
  .product-delivery__block.product-delivery__block--payment
    .product-delivery__title Оплата
    ul.product-delivery__list.list-marked
      li.product-delivery__item
        a(href='/dostavka-i-oplata.html#opl_online') Онлайн-оплата
      li.product-delivery__item
        a(href='/dostavka-i-oplata.html#opl_kurier') Оплата курьеру
      li.product-delivery__item
        a(href='/dostavka-i-oplata.html#opl_magazin') Оплата в магазине
