.product-delivery
  padding (basePadding*2)
  padding-bottom basePadding
  background-color #f5f5f5
  &__title
    margin-bottom basePadding
    font-weight bold
    padding-left (basePadding*3)
    background-repeat no-repeat
    background-position left center
  &__block
    &--delivery
      & ^[-2]__title
        background-image url('../images/delivery.png')
    &--payment
      & ^[-2]__title
        background-image url('../images/payment.png')
  li&__item
    margin-bottom 0
    a
      color #000000
      text-decoration none
      font-size font-s
      line-height line-s
      &:hover
        color #696969
