.training-results
  margin-bottom (basePadding*2)
  &__list
    list-style none
  &__item
    position relative
    margin-bottom font-m
    padding-left (basePadding*3)
    &::before
      content ''
      position absolute
      top 0
      left 0
      width (basePadding*2)
      height 1.9166rem
      background url('/images/obuchenie/result-star.png') no-repeat 50% 
    h3
      margin-bottom 0
    p:last-child
      margin-bottom 0
