.catalog-aside-info
  .catalog-aside-info__block
    .catalog-aside-info__title
      a(href='/o-kompanii/udobnye-pokupki-s-volosy24/') Доставка
    .catalog-aside-info__subtitle Санкт-Петербург
    ul.catalog-aside-info__list
      li Самовывоз
      li Куьером
    .catalog-aside-info__subtitle Москва
    ul.catalog-aside-info__list
      li Почтой России
      li Транспортными компаниями
    .catalog-aside-info__subtitle Россия
    ul.catalog-aside-info__list
      li Почтой России
      li Транспортными компаниями
  .catalog-aside-info__block
    .catalog-aside-info__title
      a(href='/o-kompanii/udobnye-pokupki-s-volosy24/') Оплата
    ul.catalog-aside-info__list
      li Наличными
      li Банковской картой
      li Наложенным платежом
      li По квитанции в банке
    .catalog-aside-info__subtitle Юр. лица
    ul.catalog-aside-info__list
      li По счету
      li Наличными
