.checkout-info
  .checkout-info__header Адрес счета:
  .checkout-info__item
    .checkout-info__title Имя:
    span тест
  .checkout-info__item
    .checkout-info__title Фамилия:
    span тест
  .checkout-info__item
    .checkout-info__title Область:
    span Москва и Московская обл
  .checkout-info__item
    .checkout-info__title Город:
    span Москва
  .checkout-info__item
    .checkout-info__title Адрес:
    span проспект Ленина 1
  .checkout-info__payment-delivery
    .checkout-info__item
      .checkout-info__title Вид платежа:
      span Оплата наличными в магазине
    .checkout-info__item
      .checkout-info__title Вид доставки:
      span Самовывоз из магазина
include /blocks/checkout/checkout-form/checkout-form
 
 
