.checkout-info
  padding (basePadding*2)
  background-color #fafafa
  &__header
    margin-bottom font-xl
    font-size font-xl
    line-height line-xl
    font-weight bold
  &__item
    display flex
    margin-bottom basePadding
    flex-shrink 0
  &__title
    margin-right basePadding
    font-weight bold
    width 7rem
    flex-shrink 0
  &__payment-delivery
    font-size font-xl
    padding-top basePadding
    & ^[-1]__title
      width auto
      margin-bottom (basePadding/2)
    & ^[-1]__item
      flex-wrap wrap
      margin-bottom (basePadding/2)
      > span
        margin-bottom (basePadding/2)
  & + .checkout-form
    padding-top 0
