include ../scripts/scripts
include ../grid/grid
include ../iframe-responsive/iframe-responsive
include ../youtube-responsive/youtube-responsive
include ../aside-header/aside-header
include ../aside-menu/aside-menu
include ../breadcrumbs/breadcrumbs
include ../gallery/gallery
include ../list-starred/list-starred
include ../articles-list/articles-list
include ../article/article
include ../create-element/create-element
include ../show-hide/show-hide
include ../brands-list/brands-list
include ../discounts-list/discounts-list
include ../orders-list/orders-list

doctype html
html(lang='ru')
  include ../head/head
  body
    .page
      include ../header/header
      main
        block content
        include ../subscribe/subscribe
      include ../footer/footer
    +scripts(['jquery-3.3.1.min.js'])
    +scripts(['jquery.maskedinput.js'])
    +scripts(['likely.js'])
    +scripts(['script.js'])
