.footer-developer
  padding-left 2.5rem
  background-image url('../images/medreclama.png')
  background-repeat no-repeat
  background-position  left center
  background-size 2rem
  font-size font-xs
  @media screen and (max-width point-m)
    margin-top (basePadding)
  a
    display block
    margin-bottom (font-xs/2)
    color #5a5a5a
    &:hover
      color #7a7a7a
    
