mixin checkoutItem(item)
  .checkout-item
    .checkout-item__item.checkout-item__item--info
      a.checkout-item__name(href='') !{item.name}
    .checkout-item__item.checkout-item__item--price
      .checkout-item__count !{item.count} шт.
      .checkout-item__price
        .checkout-item__total !{item.count * item.price} руб.
        if item.count > 1
          .checkout-item__single-price 1 шт. = !{item.price} руб.
