.training-form
  h3.training-form__header_marked Остались вопросы? Позвоните нам 
    strong.no-break +7 (812) 612-37-36
  p.training-form__subheader 
    i или
    | <br>оставьте  свой номер, преподаватель курсов перезвонит вам в течении 24 часов.
  form.form
    .training-form__col
      .training-form__phone-submit
        input(type='tel' required).form__input
        button(type='submit').btn Перезвоните мне
  p.training-form__coffee-break Обучение проходит с перерывом на кофе-брейк
