.product-questions
  h2 Вопросы клиентов и ответы
  .product-question
    .product-question__header
      span Вопрос:
      .product-question__title Как выбрать длину волос для наращивания?
    .product-question__answer
      span Ответ:
      .product-question__body
        
        p Популярная длина волос среди девушек 55 см. Если Вы будете наращивать волосы впервые, то не стоит резко увеличивать длину, иначе Вам может быть очень сложно ухаживать за наращенными волосами.
        p Когда Ваши и нарощенные волосы сильно различаются по длине, очень трудно скрыть "переход". Это означает, что может быть заметно, что у Вас нарощенные волосы, если Вы возьмете стандартное количество прядей.
        p Этот "переход" можно скрыть, если нарастить большее количество прядей (потребуется больший объем волос), сделать градуировку (нарастить волосы разной длины, или подстричь их после наращивания, сделав градуировку), профилировать кончики своих волос.
        p Все подобные вопросы решаются в индивидуальном порядке с мастером, который будет осуществлять наращивание волос исходя из Вашей стрижки, густоты и пр.
  include ../product-ask/product-ask
