.header-banner
  display flex
  justify-content center
  flex-wrap wrap
  padding basePadding
  margin-y basePadding
  border 1px solid #000000
  &__block
    flex-grow 1
    margin-y basePadding
    display flex
    align-items center
    @media screen and (max-width point-l)
      flex-basis 50%
    div
      margin-left basePadding
    &::before
      content ''
    &--freecall
      &::before
        height 43px
        width 61px
        background url("data:image/svg+xml;utf8, <svg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 61 43'><defs><style>.cls-1{fill:%234f4e4e;}</style></defs><title>phone</title><path class='cls-1' d='M127.29,131.29c-4.83-3.18-24-4.55-26.05-4.23-1.51-.39-21.57,1-26.53,4.23S70.53,141,70.53,141L84.67,138a1,1,0,0,0,.75-0.68l0.72-2.29A3,3,0,0,1,89,133h0.6v8.07L77.51,157.9h0a2,2,0,0,0-.4,1.18V168a2,2,0,0,0,2,2h44a2,2,0,0,0,2-2v-8.92a2,2,0,0,0-.4-1.18h0l-12.12-16.84V133H113a3,3,0,0,1,2.9,2.09l0.72,2.29a1,1,0,0,0,.75.68L131.47,141S132.15,134.5,127.29,131.29Zm-17.48,15.8h-1.74a0.92,0.92,0,0,1-.94-0.78L107,144.8a0.72,0.72,0,0,1,.77-0.74h1.67a0.93,0.93,0,0,1,.93.74l0.2,1.52A0.71,0.71,0,0,1,109.81,147.1Zm1.19,2.46,0.23,1.73a0.79,0.79,0,0,1-.81.9h-1.86a1,1,0,0,1-1-.9l-0.14-1.73a0.78,0.78,0,0,1,.82-0.84H110A1,1,0,0,1,111,149.55Zm-2.41-10.48a1,1,0,0,1-1,1h-13a1,1,0,0,1-1-1v-5a1,1,0,0,1,1-1h13a1,1,0,0,1,1,1v5Zm-5.7,9.64h1.78a0.93,0.93,0,0,1,.94.84l0.1,1.73a0.85,0.85,0,0,1-.88.9H103a0.93,0.93,0,0,1-.94-0.9l0-1.73A0.85,0.85,0,0,1,102.89,148.72Zm-0.92-2.4,0-1.52a0.78,0.78,0,0,1,.82-0.74h1.67a0.85,0.85,0,0,1,.88.74l0.09,1.52a0.78,0.78,0,0,1-.82.78h-1.74A0.85,0.85,0,0,1,102,146.31Zm1,7.72h1.9a1,1,0,0,1,1,1l0.12,2a1,1,0,0,1-.94,1h-2a1,1,0,0,1-1-1l0-2A0.94,0.94,0,0,1,103,154Zm-3.77-1.86H97.39a0.85,0.85,0,0,1-.88-0.9l0.1-1.73a0.93,0.93,0,0,1,.94-0.84h1.78a0.85,0.85,0,0,1,.88.84l0,1.73A0.93,0.93,0,0,1,99.25,152.18Zm0.9,2.82,0,2a1,1,0,0,1-1,1h-2a1,1,0,0,1-.94-1l0.12-2a1,1,0,0,1,1-1h1.9A0.94,0.94,0,0,1,100.15,155Zm-0.78-7.9H97.64a0.78,0.78,0,0,1-.82-0.78l0.09-1.52a0.85,0.85,0,0,1,.88-0.74h1.67a0.78,0.78,0,0,1,.82.74l0,1.52A0.85,0.85,0,0,1,99.37,147.1Zm-5.22,0H92.42a0.71,0.71,0,0,1-.77-0.78l0.2-1.52a0.93,0.93,0,0,1,.93-0.74h1.67a0.72,0.72,0,0,1,.77.74l-0.13,1.52A0.92,0.92,0,0,1,94.16,147.1Zm0.66,2.46-0.14,1.73a1,1,0,0,1-1,.9H91.81a0.79,0.79,0,0,1-.81-0.9l0.23-1.73a1,1,0,0,1,1-.84H94A0.78,0.78,0,0,1,94.82,149.55ZM93.11,158h-2a0.88,0.88,0,0,1-.86-1l0.26-2a1.13,1.13,0,0,1,1.08-1h1.9a0.87,0.87,0,0,1,.87,1l-0.17,2A1.13,1.13,0,0,1,93.11,158Zm13.5,8.85h-11a1.5,1.5,0,1,1,0-3h11A1.5,1.5,0,1,1,106.61,166.88Zm4.5-8.85h-2a1.13,1.13,0,0,1-1.09-1l-0.17-2a0.87,0.87,0,0,1,.87-1h1.9a1.13,1.13,0,0,1,1.08,1l0.26,2A0.88,0.88,0,0,1,111.11,158Z' transform='translate(-70.5 -127)'/><rect class='cls-1' x='70.82' y='140.53' width='15.22' height='4.66' rx='1' ry='1' transform='translate(-98.7 -107.39) rotate(-12.1)'/><rect class='cls-1' x='121.24' y='135.25' width='4.66' height='15.22' rx='1' ry='1' transform='translate(-112.43 106.91) rotate(-77.96)'/></svg>")
    &--consult
      &::before
        height 56px
        width 48px
        background url("data:image/svg+xml;utf8, <svg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 56'><defs><style>.cls-1{fill:%234f4e4e;}</style></defs><title>Consultation</title><path class='cls-1' d='M89.46,2.63a24.1,24.1,0,0,1,21.31,13A13.21,13.21,0,0,1,112,21.31v8.06a1.3,1.3,0,1,1-2.55,0c0-2-.14-4.1,0-6.22a14,14,0,0,0-3.25-9.62,20.39,20.39,0,0,0-14-7.78A23.15,23.15,0,0,0,78.1,8.3,18,18,0,0,0,69.34,19a11,11,0,0,0-.42,3.11c-0.14,1.84,0,3.68,0,5.66a1.08,1.08,0,0,0,.28.71,20.68,20.68,0,0,0,1.27,1.84,13.27,13.27,0,0,0,.85,2.12,0.28,0.28,0,0,0,.28-0.14,21.1,21.1,0,0,1-.28-3,29.48,29.48,0,0,1,.14-8.63,13.8,13.8,0,0,1,6.22-9.33c6.79-4.67,17.53-4.52,24,.28a14,14,0,0,1,5.94,10.46,36.59,36.59,0,0,1-.42,9.62,3.21,3.21,0,0,0-.14.57c1.7,0.28,2.4,1,2.4,3a9.56,9.56,0,0,1-2.69,7.35,2.79,2.79,0,0,0-.85,2,13.24,13.24,0,0,0,1,5.23,8.32,8.32,0,0,0,4.24,4.52,1.74,1.74,0,0,0,.71.28c-4.67,1.56-8.91,2.4-12.87-1.13a18.5,18.5,0,0,1-3.39,2.4,23.77,23.77,0,0,1-4.24,2.12,5.87,5.87,0,0,1-4.38,0A22.34,22.34,0,0,1,80.22,54a3.33,3.33,0,0,1-.71-0.71c-4,3.53-8.34,2.83-12.87,1.27l0.28-.28c3.39-1.41,4.81-4.1,5.37-7.49a17.11,17.11,0,0,0,.14-2.69c0-1-.28-1.27-1.27-1a3.12,3.12,0,0,1-3-.71,4.86,4.86,0,0,1-1.84-2.26c-0.85-2-1.56-4.24-2.26-6.36a4.7,4.7,0,0,1,.42-3.39,4.4,4.4,0,0,1,1-1.27c1-.42,1-1.27,1-2.26a65.66,65.66,0,0,1,.14-7.49,16,16,0,0,1,5.8-10.6A23.63,23.63,0,0,1,89.46,2.63ZM77.82,48c0.28,0.42.71,0.85,1,1.27a22.05,22.05,0,0,0,8.48,6.36,4.74,4.74,0,0,0,3.68,0,31.9,31.9,0,0,0,3.11-1.56A28.52,28.52,0,0,0,104,42.37c0.28-.42.57-1,0.85-1.41a7,7,0,0,0,2-5.94,1.71,1.71,0,0,0-1.13-1.56c-0.71-.14-1,0.42-1.41,1a15.42,15.42,0,0,0-.85,1.56c-0.14.28-.14,0.42-0.28,0.71a62.84,62.84,0,0,0,1-6.93,7.71,7.71,0,0,0-.14-3.11,10.69,10.69,0,0,0-1.56-3.11,10.94,10.94,0,0,0-3.68-4,27.1,27.1,0,0,1-2.55,3.11A17.46,17.46,0,0,1,85,27.81c-2.69.28-5.37,0.28-8.06,0.42-1.56.14-3.11,1.56-2.83,3.11s0.57,3.53,1,5.37C75,36.44,75,36.29,74.85,36.29a13.43,13.43,0,0,0-1.41-2.4,0.89,0.89,0,0,0-1.56.85A46.6,46.6,0,0,1,73.72,40a5,5,0,0,0,1.84,2.83,11.15,11.15,0,0,0,2.12,1.7,17.51,17.51,0,0,0,6.36,3,2.67,2.67,0,0,1,3-1.7h1.84a2.49,2.49,0,0,1,2.69,2.55,2.66,2.66,0,0,1-2.69,2.55,16,16,0,0,1-5.8-.85A30.11,30.11,0,0,1,77.82,48Z' transform='translate(-63.96 -2.57)'/></svg>")
    &--pickup
      &::before
        height 52px
        width 50px
        background url("data:image/svg+xml;utf8, <svg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 52'><defs><style>.cls-1{fill:%234f4e4e;}</style></defs><title>purse</title><path class='cls-1' d='M183.72,127.49a1.92,1.92,0,0,0,2.76-.16,29.39,29.39,0,0,1,43,0,2.13,2.13,0,0,0,3.48-.82,1.37,1.37,0,0,0-.21-0.73,24.47,24.47,0,0,0-6-5.94,29.79,29.79,0,0,0-7.68-4,31.82,31.82,0,0,0-5.76-1.42l1.19-3a4.17,4.17,0,1,0-2.76-.58l-1.3,3.3c-0.81-.05-1.62-0.09-2.44-0.09h-0.16c-0.82,0-1.64,0-2.44.09l-1.3-3.3a4.16,4.16,0,1,0-2.76.58l1.19,3a31.81,31.81,0,0,0-5.76,1.42,29.76,29.76,0,0,0-7.68,4,24.46,24.46,0,0,0-6,5.94,1.35,1.35,0,0,0-.21.73A1.93,1.93,0,0,0,183.72,127.49Z' transform='translate(-183 -103)'/><path class='cls-1' d='M207.88,121c-6-.06-15.55,4.46-19.73,9.13-6.4,7.15-6.94,17.13-1,21.83a8.43,8.43,0,0,0,1.9,1.09S191.86,155,208,155s18.95-1.95,18.95-1.95a8.43,8.43,0,0,0,1.89-1.09c6-4.71,5.41-14.68-1-21.83C223.67,125.46,214.63,121.06,207.88,121Z' transform='translate(-183 -103)'/></svg>")
    &--delivery
      &::before
        height 58px
        width 67px
        background url("data:image/svg+xml;utf8, <svg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 67 58'><defs><style>.cls-1{fill:none;}.cls-2{fill:%234f4e4e;}</style></defs><title>delivery-truck</title><path class='cls-1' d='M194.84,133.65a1,1,0,0,0-.79-0.41h-5.13a1,1,0,0,0-1,1v8.5a1,1,0,0,0,1,1h11.54a1,1,0,0,0,.79-1.51Z' transform='translate(-139 -108)'/><path class='cls-1' d='M155.5,137.24a12.75,12.75,0,1,0-12.75-12.75A12.75,12.75,0,0,0,155.5,137.24Zm-2.09-21.31a1.64,1.64,0,0,1,3.27,0v6.93l4.11,1.11a1.64,1.64,0,0,1-.85,3.16l-5.32-1.43a1.64,1.64,0,0,1-1.21-1.58v-8.18Z' transform='translate(-139 -108)'/><path class='cls-2' d='M154.62,125.7l5.32,1.43a1.64,1.64,0,0,0,.85-3.16l-4.11-1.11v-6.93a1.64,1.64,0,0,0-3.27,0v8.18A1.64,1.64,0,0,0,154.62,125.7Z' transform='translate(-139 -108)'/><path class='cls-2' d='M206,153.89v-9.48a7.69,7.69,0,0,0-1.32-4.3l-5.88-8.7a7.72,7.72,0,0,0-6.39-3.39H182.5a1.93,1.93,0,0,0-1.93,1.93v28a1,1,0,0,0,1,1l2.5,0a8.14,8.14,0,0,1,7.84-7,7.93,7.93,0,0,1,7.83,6.79h6.09C206.34,158.75,206,153.89,206,153.89Zm-5.55-10.22H188.92a1,1,0,0,1-1-1v-8.5a1,1,0,0,1,1-1H194a1,1,0,0,1,.79.41l6.41,8.51A1,1,0,0,1,200.46,143.67Z' transform='translate(-139 -108)'/><path class='cls-2' d='M174.92,118.4h-4a3.07,3.07,0,0,1,.11.55,16.49,16.49,0,1,0-27.73,16.62V158a1,1,0,0,0,1,1h8.37a8,8,0,0,1,15.86,0h8.36a1,1,0,0,0,1-1V121.3A2.89,2.89,0,0,0,174.92,118.4Zm-32.17,6.1a12.75,12.75,0,1,1,12.75,12.75A12.75,12.75,0,0,1,142.75,124.5Z' transform='translate(-139 -108)'/><path class='cls-2' d='M191.89,153.89a6,6,0,1,0,6,6A6,6,0,0,0,191.89,153.89Z' transform='translate(-139 -108)'/><path class='cls-2' d='M166.42,159a6,6,0,1,0,.07.89A6,6,0,0,0,166.42,159Z' transform='translate(-139 -108)'/></svg>")
