.product-price
  display flex
  flex-wrap wrap
  justify-content space-between
  margin-x -(basePadding)
  margin-bottom (basePadding*2)
  &__price
    padding-x basePadding
    margin-x -(basePadding/4)
    display flex
    flex-wrap wrap
    align-items baseline
    @media screen and (max-width point-m)
      margin-bottom (basePadding)
  &__main
    font-size font-xl
    padding-x (basePadding/4)
  &__desc
    font-size font-xs
    padding-x (basePadding/4)
  &__fast-buy
    margin-x basePadding
