.btn
  font-size font-m
  line-height line-m
  padding-x(font-m)
  background #373737
  color #ffffff
  border-radius 1rem
  text-decoration none
  transition .4s background-color
  cursor pointer
  display inline-block
  text-align center
  border none
  &:hover
    background-color #7b7b7b
    color #ffffff
    transition none
  &--sec
    background-color #ffca26
    color #000000
    &:hover
      background-color #ffe599
      color #000000
  &--checkout
    background-color #8fc843
    &:hover
      background-color #a5d369
    
a[href^='#'].button
a[href^='#'].btn
  text-decoration none
  @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
    text-decoration none
