.catalog-sort
  padding-bottom (basePadding/2)
  display flex
  justify-content flex-end
  align-items center
  flex-wrap wrap
  margin -(basePadding/2)
  &__desc
    margin (basePadding/2)
    text-align center
  &__list
    margin (basePadding/2)
    display flex
    padding (basePadding/2) basePadding
    background-color #f6f6f6
    border-radius (basePadding*2)
  &__item
    padding (basePadding/2) (basePadding*2)
    border-left 1px solid #e5e5e5
    cursor pointer
    &:first-child
      border-left none
