.header-nav
  &__list
    display flex
    margin-left -(basePadding)
    margin-right -(basePadding)
    padding-x(basePadding*2)
    border-radius 0.1666rem
    flex-wrap wrap
    & > ^[-1]__item
      // font-size font-s
      // line-height line-s
      flex-grow 0
      position relative
      z-index 1
      &:hover
        z-index 2
        & ^[-3]__sublist
          transform scale(1)
          transition none
          opacity 1
        > a
          color #8f6001
          transition none
      > a
        text-decoration none
        border-bottom none
        padding (basePadding)
        display inline-block
        width 100%
        text-align center
        color #000000
        transition .4s color, .4s background-color
      &--parent > a::after
        content ''
        margin-left 0.5rem
        display inline-block
        width (font-xs/1.5)
        height (font-xs/1.5)
        border-right 2px solid
        border-bottom 2px solid
        transform translateY(-25%) rotate(45deg)
      &--active > a
        font-weight bold
        text-decoration underline
        text-decoration-style solid
  &__sublist
    display flex
    flex-direction column
    transform scale(0)
    transform-origin 0 0
    opacity 0
    transition .4s transform, .2s opacity
    position absolute
    top calc(2.25rem)
    left 0
    width 18rem
    background-color #ffca26
    padding 0 basePadding basePadding
    & > ^[-1]__item
      // font-size font-s
      // line-height line-s
      border-bottom 1px solid rgba(0,0,0,.1)
      
      a
        text-align left
        padding 0.375rem 0
        display inline-block
        text-decoration none
        border-bottom none
        color #000000
        &:hover
          color #8f6001
