nav.header-nav
  ul.header-nav__list
    li.header-nav__item.header-nav__item--parent
      a(href='#') Каталог
      ul.header-nav__sublist
        li.header-nav__item
          a(href='#') Simone
        li.header-nav__item
          a(href='#') Optima
        li.header-nav__item
          a(href='#') Фабао
        li.header-nav__item
          a(href='#') Чжангуан 101
        li.header-nav__item
          a(href='#') Кудзитол
          
    li.header-nav__item.header-nav__item--active
      a(href='#') Доставка и оплата
    li.header-nav__item
      a(href='#') Бренды
    li.header-nav__item
      a(href='#') О нас
    li.header-nav__item
      a(href='#') Акции
    li.header-nav__item
      a(href='#') Консультации
    li.header-nav__item
      a(href='#') Статьи
    li.header-nav__item
      a(href='#') Контакты
