.pagination
  max-width 100%
  &__list
    display flex
    margin-x -(basePadding/3*2)
  &__item
    padding-x (basePadding/3*2)
    &--prev
      margin-right (basePadding/3*2)
      padding-right basePadding
      border-right 1px solid
    &--next
      margin-left (basePadding/3*2)
      padding-left basePadding
      border-left 1px solid
