.pagination
  ul.pagination__list
    li.pagination__item.pagination__item--start
      span <<
    li.pagination__item.pagination__item--prev
      span <
    li.pagination__item
      span 1
    li.pagination__item
      a(href='') 2
    li.pagination__item
      a(href='') 3
    li.pagination__item
      a(href='') 4
    li.pagination__item
      a(href='') 5
    li.pagination__item.pagination__item--next
      a(href='') >
    li.pagination__item.pagination__item--last
      a(href='') >>
