-
  var i = 1
include /data/catalog-filter-items
.mobile-filter
  
  each block in filter
    .mobile-filter-item
      .mobile-filter-item__name !{block.name}
      .mobile-filter-item__property
        label.mobile-filter-item__label.mobile-filter-item__label_inactive(for='property-'+i) Свойство
        label.mobile-filter-item__label.mobile-filter-item__label_active(for='property-'+i)
        select.mobile-filter-item__select(id='property-'+i name="property-1" multiple)
          each item in block.items
            option(value="option-"+i) !{item}
    - i++
  .mobile-filter__buttons
    button.mobile-filter__submit.btn#filter_submit(type='submit' name='filter_submit') Подобрать
    button.mobile-filter__reset#filter_reset(type='submit' name='filter_reset') Сбросить все фильтры
