.mobile-filter
  padding (basePadding*2)
  background-color #f5f5f1
  margin-bottom (basePadding*2)
  @media screen and (min-width (point-m+1))
    display none
  &__buttons
    display flex
    flex-direction column
    align-items center
  &__submit
    margin-bottom basePadding
    background-color #8fc843
    &:hover
      background-color #a3e54c
  &__reset
    background-color #c0c0c0
    border none
    border-bottom 1px dashed
    transition background-color .4s
    &:hover
      transition none
      background-color #e0e0e0
.mobile-filter-item
  display flex
  position relative
  justify-content space-between
  margin basePadding (-(basePadding))
  @media screen and (min-width (point-m+1))
    flex-direction column
    align-items center
  &__name
    font-weight bold
    margin-x basePadding
  &__property
    position relative
    overflow hidden
    margin-left auto
    margin-x basePadding
    @media screen and (min-width point-m+1)
      max-width 100%
      margin-left 0
    .checkbox
      position absolute
      z-index -1
      right 0
      opacity 0
      border none
      outline none
      font-size 18px
  &__label
    margin 0 0.5rem
    color #565656
    display block
    white-space nowrap
    overflow-x hidden
    text-overflow ellipsis
    max-width 100%
    z-index 10
  &__select
    position absolute
    z-index 2
    right 0
    top 0
    opacity 0
    border none
    outline none
    font-size 18px
    width 100%
