mixin articles-list(list)
  .articles-list
    each item in list
      .articles-list__item
        .articles-list__title
          a(href='') !{item.title}
        .articles-list__body !{item.body}
        //- .articles-list__date !{item.date}
        .articles-list__readmore
          a(href='') Читать далее
