.articles-list
  &__item
    padding basePadding (basePadding*2) (basePadding*2) basePadding
    margin-bottom (basePadding*2)
    border 1px solid #f1f1f1
  &__title
    @extends h3
    margin-top 0
    a
      color #000000
      text-decoration none
      &:hover
        color #666666
  &__body
    font-size font-s
    line-height line-s
    margin-bottom basePadding
    h3
    h2
      font-size font-l
      line-height line-l
      color #8D8C8d
      // margin-top font-s
      margin-bottom (font-s/2)
  &__date
    margin-bottom basePadding
  &__readmore
    display flex
    justify-content flex-end
    
