$backgroundGradient =  linear-gradient(#c0e9db, #d6b384)
.action-banner
  display flex
  justify-content center
  padding 2.5rem 4rem
  width 100%
  max-height 100%
  height 16rem
  background-repeat no-repeat
  background-size auto 100%
  border-radius 4px
  text-decoration none
  text-shadow 1px 1px 2px #faf8e0
  background-image linear-gradient(#c0e9db, #f0b80a)
  color #026040
  &:hover
    color #026040
    
  // background linear-gradient(#c0e9db, #f0b80a)
  @media screen and (max-width point-m)
    padding 0
    height 100%
    max-height 400px
  &__left
    max-width 28.3333rem
    width 100%
    display flex
    position relative
    padding-x (basePadding)
    // flex-direction column
    align-items center
    @media screen and (max-width point-s)
      display none
  &__label
    position absolute
    top 0
    left 0
    width 123px
    height 151px
    padding-top 42px
    background-image url('../images/banner-label.png')
    background-repeat no-repeat
    background-size contain
    text-align center
    color #db2b03
    font-size font-s
    transform translate(-25%, -25%)
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/banner-label@2.png')
    strong
      font-size font-l
  &__right
    display flex
    flex-direction column
    text-align center
    justify-content center
    max-width 28.3333rem
    padding-x (basePadding)
    @media screen and (max-width point-s)
      padding 1rem
      width 100%
      // @support (backdrop-filter) or (-webkit-backdrop-filter)
      //   backdrop-filter blur(10px)
        
  &__header
    margin-bottom basePadding
    font-size 2rem
    font-weight bold
    font-style italic
    line-height 1
    text-transform uppercase
    color #026040
  &__info
    line-height 30px !important
    // display flex
  &__discount
    
    max-width 10rem
    padding-x basePadding
    line-height line-xxl
    font-size font-xxl
    margin-x auto
  &__price
    padding-x basePadding
    font-size font-l
    line-height line-l
    font-weight 100
    display flex
    justify-content center
    margin-bottom basePadding
  &__price-old
    padding-x (basePadding/3)
    position relative
    margin-right basePadding
    &::before
      content ''
      display block
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      border-radius 0.25rem
      background-image linear-gradient(to right bottom, transparent 47.5%, #ff0000 47.5%, #ff0000 52.5%, transparent 52.5%), linear-gradient(to left bottom, transparent 47.5%, #ff0000 47.5%, #ff0000 52.5%, transparent 52.5%)
  &__title
    color #026040
    line-height line-xxl
    font-size font-xxl
    margin-bottom basePadding
  &__products
    margin-left (basePadding*2)
  &__products-title
    margin-bottom basePadding
    font-size font-xl
  &__products-list
    font-size font-s
    line-height line-s
    // text-align center
    
    li
      margin-bottom ((line-xs - font-xs))
      line-height 1.25
