mixin action-banner( settings = { 'title':'','info':'','clarification':'','class':'','countDate':'2017, 00, 00','countNum':'1', 'background':'' } )

  a.action-banner( class='action-banner_'+settings.class href='')
    .action-banner__left.hidden-xs
      .action-banner__label.hidden-s.hidden-xs
        .action-banner__label-inner Экономия<br>
          strong !{settings.price.old - settings.price.new}
          | &nbsp;руб.
      .action-banner__photo
        img(src='/images/banners/' + settings.background + '.png')
      .action-banner__products
        .action-banner__products-title Состав набора
        ul.action-banner__products-list
          each item in settings.products
            li !{item}
    .action-banner__right
      .action-banner__header !{settings.header}
      .action-banner__title !{settings.title}
      .action-banner__info !{settings.clarification}
        .action-banner__price
          .action-banner__price-old !{settings.price.old} руб.
          .action-banner__price-new !{settings.price.new} руб.
        .action-banner__discount Скидка !{settings.discount}%
