.mobile-menu
  &__open
  &__close
    display flex
    height 96px
    align-items center
    justify-content center
    margin-x auto
    label
      display block
      width 2rem
      height 2rem
  &__open
    label
      background linear-gradient(#000 0.4rem, transparent 0.4rem, transparent 0.8rem, #000 0.8rem, #000 1.2rem, transparent 1.2rem, transparent 1.6rem, #000 1.6rem);
  &__close
    label
      background linear-gradient(transparent 0.8rem, #000 0.8rem, #000 1.2rem, transparent 1.2rem),linear-gradient(to right, transparent 0.8rem, #000 0.8rem, #000 1.2rem, transparent 1.2rem);
      transform rotate(45deg)
  &__inner
    display flex
    flex-direction column
    position absolute
    top 0
    left 0
    width 100%
    min-height 100vh
    padding-x basePadding
    background-color #ffffff
    z-index 999
    transform translateX(-100%)
    transition transform .4s
  &__switcher
    display none
    &:checked
      ~ .mobile-menu__inner
        transform translateX(0)
  &__top
    border-bottom 1px solid #cccccc
    margin-bottom 0
    .grid__cell
      padding-bottom 0
  &__info
    display flex
    flex-direction column
    justify-content center
  &__phone
    margin-bottom basePadding
    // padding-left line-s
    font-size font-xl
    font-weight bold
    position relative
    background url('../images/phone.png') no-repeat left center
    background-size font-s
    white-space no-wrap
  &__phone-clar
    font-size font-s
  .header-cart
    margin-x(0)
    border-top 1px solid #f0f0f0
    padding-y basePadding
    &__inner
      padding-left 0
      display flex
      & > *
        margin-right (basePadding/2)
      &::before
        content none
    &__checkout
      display none
