.product-properties
  &__header
    font-weight bold
    margin-bottom basePadding
  &__item
    margin-bottom (basePadding/2)
    display flex
    margin-x (-(basePadding/2))
  &__title
    font-size font-m
    line-height line-m
    padding-x (basePadding/2)
  &__value
    font-size font-m
    line-height line-m
    font-weight bold
    padding-x (basePadding/2)
    color #585858
