mixin breadcrumbs(path = {'parents':[],'current':''})
  .breadcrumbs
    each parent in path.parents
      .breadcrumbs__parent
        a(href='/') !{parent}
      .breadcrumbs__separator /
    .breadcrumbs__current !{path.current}
