.breadcrumbs
  display flex
  flex-wrap wrap
  padding-y basePadding
  font-size font-s
  line-height line-s
  align-items center
  &__parent
    padding-right (basePadding /2 )
  &__separator
    padding-right (basePadding /2 )
  & + .page-cols
    padding-top basePadding
