+grid.product-layout
  +grid__item({'m':5,'xs':12}).product-layout__left
    include ../product-photos/product-photos
  +grid__item({'m':7,'xs':12}).product-layout__right
    include ../product-main/product-main
