mixin catalog-list(items=[{'name':'','link':'','manufacturer':'','price':'','image':''}])

  +grid.catalog-list
    each item in items
      +grid__item({'m':4,'xs':6}).catalog-list__item
        .catalog-list__image
          a(href= item.link)
            img(src= item.image alt= item.name title= item.name)
        .catalog-list__manufacturer !{item.manufacturer}
        .catalog-list__name
          a(href= item.link) !{item.name}
        .catalog-list__info-bottom
          .catalog-list__price !{item.price} руб.
          a.catalog-list__add(href='/nabory/cart/add?category_id=33&product_id=502') В корзину
 
