.training-header
  padding-top font-m
  display flex
  flex-direction column
  align-items center
  height 28rem
  background url('/images/obuchenie/1.jpg') no-repeat 50%
  background-size cover
  margin-bottom (basePadding*3)
  text-align center
  @media screen and (max-width point-m)
    background linear-gradient( rgba(255,255,255,0.5), rgba(255,255,255,0.5) ), url('/images/obuchenie/1.jpg') no-repeat 50%
  &__header
    margin-top 0
    margin-bottom font-m
    // font-family fontHeader
    // font-size (font-m * 2)
    // font-weight bold
    // line-height (line-m * 2)
  &__subheader
    margin 0
    font-family fontHeader
    font-size 25px
    line-height 42px
  &__subheader-2
    margin 0
    width 100%
    display flex
    justify-content center
    align-items center
    font-family fontHeader
    font-size 18px
    font-style italic
    color #cf052b
    &::before
    &::after
      content ''
      margin 0 10px
      border-top 1px solid #dab686
      flex 0 0 20%
