.footer-contact
  display flex
  flex-direction column
  margin-left auto
  @media screen and (max-width point-s)
    margin-left 0
  &__header
    font-size font-s
    line-height line-s
    font-weight bold
    margin-bottom (font-xs)
    font-family fontHeader
  &__phone
    font-size font-l
  &__btn
    font-size font-xs
    margin-bottom font-xs
    width 100%
    max-width 10rem
    padding-right 2rem
    text-align left
    position relative
    &::after
      position absolute
      right 0.75rem
      top calc((100% - 1rem)/2)
      height 1rem
      width 1rem
      background-repeat no-repeat
      background-size contain
      background-position center
      content ''
    &--call::after
      background-image url('../images/footer-call.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image url('../images/footer-call@2.png')
    &--mail::after
      background-image url('../images/footer-mail.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image url('../images/footer-mail@2.png')
  &__schedule
    margin-bottom  (basePadding*2)
    font-size font-s
    line-height line-s
    text-align center
    color #959595
