.footer-contact
  +footer-header( 'Поддержка клиентов' )
  .footer-contact__phone.comagic_phone +7 (800) 775-05-36
  .footer-contact__schedule пн-вс c 10:00 до 21:00
  a(onclick='Comagic.openSiteRequestPanel()').btn.footer-contact__btn.footer-contact__btn--mail#mailtous Написать нам
  a(onclick='Comagic.openSitePhonePanel()').btn.btn--sec.footer-contact__btn.footer-contact__btn--call#calloffer Заказать звонок
