.checkout-form
  padding (basePadding*2)
  background-color #fafafa
  @media screen and (max-width point-m)
    margin-x (-(basePadding))
    margin-bottom (basePadding*2)
  &__input
    display flex
    margin-bottom basePadding
    align-items flex-start
    position relative
    label
      font-weight bold
      width 7rem
      margin-right basePadding
    input
      flex-grow 1
    &.validation-error.validation-error-required
      .validation-msg
        display flex
        position absolute
        height 100%
        align-items center
        right 0
        top 0
        transform translateX(calc(100%+0.75rem))
        &::before
          content ''
          position absolute
          top 50%
          left -(basePadding/3*4)
          border (basePadding/3*2) solid transparent
          border-right (basePadding/3*2) solid #ef6673
          transform translateY(-50%)
      input
      textarea
        border 1px solid #ef6673 !important
        border-radius 0 !important
    &--check
      align-items flex-end
      label
        width auto
      input
        flex-grow 0
        margin-right basePadding
    &--textarea
      flex-direction column
      align-items stretch
      label
        width auto
        margin-bottom (basePadding/2)
        font-weight normal
        font-size font-s
        line-height line-s
      textarea
        flex-grow 0
        margin-right basePadding
        resize none
        height (line-m*4 + 0.5rem)
    &--agreement
      align-items baseline
  &__submit
    padding-top basePadding
  &__agreement-label
    a
      font-weight bold
      color #000000
      text-decoration none
      &:hover
        color #666666
