if checkoutStep == 1
  form.checkout-form
    .checkout-form__input.validation-error.validation-error-required
      label(for='checkout-name') Имя
      input(type='text' name='first_name' placeholder='Имя')#checkout-first-name.form-input
      .validation-msg.validation-msg-required Обязательное поле
    .checkout-form__input
      label(for='checkout-name') Фамилия
      input(type='text' name='second_name' placeholder='Имя')#checkout-secondname.form-input
    .checkout-form__input
      label(for='checkout-email') E-mail
      input(type='email' name='first_name')#checkout-email.form-input
    .checkout-form__input
      label(for='checkout-phone') Телефон
      input(type='tel' name='first_name')#checkout-phone.form-input
    .checkout-form__input
      label(for='checkout-address-1') Область
      input(name='address_1' rows='6' placeholder='Область').form-input#checkout-address-1
    .checkout-form__input
      label(for='checkout-address-2') Город
      input(name='address_2' rows='6' placeholder='Город').form-input#checkout-address-2
    .checkout-form__input
      label(for='checkout-address-3') Улица/ Номер дома
      input(name='address_3' rows='6' placeholder='Улица/ Номер дома').form-input#checkout-address-3
    .checkout-form__submit
      button(type='submit').btn.btn--checkout Далее
if checkoutStep == 2
  form.checkout-form
    p
      strong Выберите способ доставки:
    .checkout-form__input.checkout-form__input--check
      input(type='radio' name='delivery' value='1')#checkout-delivery-1
      label(for='checkout-delivery-1') Доставка по России (500 руб)
    p Доставка осуществляется экспресс-доставкой по принципу „от двери до двери“<br>Доставку выполняет Курьер экспресс сервис.
    .checkout-form__input.checkout-form__input--check
      input(type='radio' name='delivery' value='2')#checkout-delivery-2
      label(for='checkout-delivery-2') Самовывоз из магазина (0 руб)
    p О наличии товара в офисе продаж, пожалуйста уточните у менеджеров по телефону: +7 (800) 775-05-36
    .checkout-form__input.checkout-form__input--check
      input(type='radio' name='delivery' value='3')#checkout-delivery-3
      label(for='checkout-delivery-3') Доставка Почтой России (285 руб)
    .checkout-form__submit
      button(type='submit').btn.btn--checkout Далее
if checkoutStep == 3
  form.checkout-form
    p
      strong Выберите способ оплаты:
    .checkout-form__input.checkout-form__input--check
      input(type='radio' name='payment' value='1')#checkout-payment-1
      label(for='checkout-payment-1') Оплата онлайн
    p Вы можете оплатить ваш заказ следующими способами : кредитной картой(Visa, Mastercard), через платежные терминалы, через интернет кошелек, с мобильного телефона, через салоны связи,с помощью банк клиента и др.
    .checkout-form__input.checkout-form__input--check
      input(type='radio' name='payment' value='2')#checkout-payment-2
      label(for='checkout-payment-2') Оплата наличными в магазине
    p Вы можете оплатить ваш заказ в нашем магазине.Вы можете оплатить ваш заказ в нашем магазине.
    .checkout-form__submit
      button(type='submit').btn.btn--checkout Далее
if checkoutStep == 4
  form.checkout-form
    .checkout-form__input.checkout-form__input--textarea
      label(for='comment') Здесь Вы можете добавить дополнительную информацию для нас:
      textarea(type='text' name='comment' placeholder='Комментарий')#checkout-comment.form-input
    .checkout-form__input.checkout-form__input--check.checkout-form__input--agreement
      input(type='checkbox' name='agreement' value='1')#checkout-agreement
      .checkout-form__agreement-label
        a(href='') ПРАВИЛА
        |  и 
        a(href='') ПРАВО ВОЗВРАТА
        |  подтвердить
    .checkout-form__submit
      button(type='submit').btn.btn--checkout Подтвердить заказ
