sectionPadding = 'calc(' + basePadding + ' + 0.5 * (100vw - ' + point-xl + ') / 432)'
.home-section
  padding-y (basePadding)
  @media screen and (max-width point-xl) and (min-width (point-m +1))
    padding-y unquote(sectionPadding)
  @media screen and (max-width point-m)
    padding-y (basePadding/2)
  &--nopadding-top
    padding-top 0
    @media screen and (max-width point-xl) and (min-width (point-m +1))
      padding-top 0
    @media screen and (max-width point-m)
      padding-top 0
