.container
  .content
    .footer-subscribe
      .footer-subscribe__label Подпишитесь на наши спец. предложения и новинки
      form.footer-subscribe__form
        input.form-input#user_email_formAcymailing14191(placeholder='Ваш Email' type='email' name='user[email]')
        button.btn(type='submit') Подписаться
      
