.wholesale-about
  .grid__cell
    display flex
  &__item
    display flex
    flex-direction column
    background-color #b0986e
    margin-bottom (basePadding*2)
    width 100%
  &__image
    opacity 0.5
    img
      display block
      width 100%
  &__title
    flex-grow 1
    min-height 6rem
    padding basePadding
    display flex
    align-items center
    justify-content center
    text-align center
    color #ffffff
    line-height line-m
    a
      color #ffffff
      &:hover
        color #f0f0f0
