.orders-list
  &__item
    margin-bottom (basePadding*2)
    &:last-child
      margin-bottom 0
  &__item-header
  &__item-body
    margin -(basePadding/2) (-(basePadding))
    display flex
    justify-content space-between
    flex-wrap wrap
    & > *
      padding (basePadding/2) (basePadding)
  &__item-header
    margin-bottom basePadding
    background-color #f0f0f0
