mixin ordersList(list)
  .orders-list
    each item in list
      .orders-list__item
        .orders-list__item-header
          .orders-list__title
            strong Номер заказа:
            |  !{item.title}
          .orders-list__status
            strong Статус заказа:
            |  !{item.status}
        .orders-list__item-body
          .orders-list__info
            strong Дата заказа:
            |  !{item.date}
            br
            strong Счёт:
            |  !{item.name}
          .orders-list__info
            strong Товары:
            |  !{item.count}
            br
            |  !{item.price} руб.
          .orders-list__info: a(href='') Детали
          
            
