.methods-sign
  border 3px solid #DAB686
  padding basePadding
  display flex
  align-items center
  justify-content center
  @media screen and (max-width point-m)
    flex-wrap wrap
  &__buttons
    padding basePadding
    flex-shrink 0
  &__info
    padding basePadding
  &__button
    font-size font-s
    line-height line-s
    padding-y (font-s/2)
    display block
    margin-bottom (basePadding*2)
    &:last-child
      margin-bottom 0
  p
    &:last-child
      margin-bottom 0
  &__phone
    font-size font-xl
    color #CF052B
