.wholesale-samples
  padding (basePadding*2)
  background-color #ebe5db
  h2
    margin-top 0
    margin-bottom basePadding
  &__subheader
    margin-bottom (basePadding/2)
  &__clarification
    text-align center
    font-weight bold
    margin-top (basePadding*2)
  &__image
    img
      display block
      width 100%
  &__info
    line-height line-m
    font-size font-m
    margin-bottom font-m
  &__input
    margin-bottom (basePadding)
    display flex
    justify-content center
    input
      width 100%
      max-width 20rem
  &__submit
    display flex
    justify-content center
    .btn
      width 100%
      max-width 20rem
