.home-brands
  // padding-top basePadding
  padding-bottom (basePadding*2)
  border-top 2px solid #848484
  border-bottom 2px solid #848484
  &__item
    text-align center
    padding-top 8rem
    color #848484
    font-weight bold
    // background-size contain
    background-position  center
    background-repeat no-repeat
    &--simone
      background-image url('../images/brand-simone.png')
    &--optima
      background-image url('../images/brand-optima.png')
    &--fabao
      background-image url('../images/brand-fabao.png')
    &--zhangguang
      background-image url('../images/brand-zhangguang.png')
    &--eucapil
      background-image url('../images/brand-eucapil.png')
    &--kudzitol
      background-image url('../images/brand-kudzitol.png')
