+grid.home-brands
  +grid__item({'m':2,'s':4,'xs':6}).home-brands__item.home-brands__item--simone Симоне
  +grid__item({'m':2,'s':4,'xs':6}).home-brands__item.home-brands__item--optima Оптима
  +grid__item({'m':2,'s':4,'xs':6}).home-brands__item.home-brands__item--fabao Фабао
  +grid__item({'m':2,'s':4,'xs':6}).home-brands__item.home-brands__item--zhangguang Чжангуан
  +grid__item({'m':2,'s':4,'xs':6}).home-brands__item.home-brands__item--eucapil Эвкапил
  +grid__item({'m':2,'s':4,'xs':6}).home-brands__item.home-brands__item--kudzitol Кудзитол
