.cart-table
  &__total
    display flex
    justify-content flex-end
    padding-y (basePadding)
    border-bottom 1px solid #f0f0f0
    line-height line-m
    strong
      font-size font-xl
  &__bottom
    display flex
    justify-content space-between
    flex-wrap wrap
    padding-y (basePadding*1.5)
    align-items center
    margin-x  -(basePadding)
  &__checkout
    padding-x basePadding
    padding-y (basePadding*0.5)
    .btn
      font-size font-xl
      line-height line-xl
      padding (basePadding/3) (basePadding*2)
      font-weight bold
  &__back-to-shop
    padding-x basePadding
    padding-y (basePadding*0.5)
    .btn
      font-size font-m
      line-height line-m
