-
  var cartItems = [
    {
      'name': 'Набор от перхоти №3',
      'price':'4428',
      'count':'1'
    },
    {
      'name': 'Набор от перхоти №3',
      'price':'4428',
      'count':'3'
    },
  ]

.cart-table
  .cart-table__contents
    include ../cart-item/cart-item
    each item in cartItems
      +cartItem(item)
  .cart-table__total
    .cart-table__total-inner Итого 
      strong 9 680 руб.
  .cart-table__bottom
    .cart-table__back-to-shop
      a(href='/').btn.btn--checkout Вернуться в магазин
    .cart-table__checkout
      a(href='javascript:document.checkoutForm.submit();').vm-button-correct.btn.btn--checkout Оформить заказ
