include footer-menu/footer-menu
include footer-header/footer-header


footer.footer-main
  .container
    .content.footer-inner
        +grid().footer-inner__top
          +grid__item({'m':'6'}).s-hidden.xs-hidden
              +grid().footer-inner__menu
                +grid__item()
                  -
                    var menuItems = [
                      { 'name':'Доставка' , 'url':'' },
                      { 'name':'Оплата' , 'url':'' },
                      { 'name':'Возврат' , 'url':'' }
                    ]
                    var menuHeader = 'Как заказать'
                  +footerMenu({'header': menuHeader,'items': menuItems})
                +grid__item().s-hidden.xs-hidden
                  -
                    var menuItems = [
                      { 'name':'О компании' , 'url':'' },
                      { 'name':'Контакты' , 'url':'' },
                      { 'name':'Реквизиты' , 'url':'' },
                      { 'name':'Конфиденциальность' , 'url':'' }
                    ]
                    var menuHeader = 'Контактная информация'
                  +footerMenu({'header': menuHeader,'items': menuItems})
                +grid__item().s-hidden.xs-hidden
                  -
                    var menuItems = [
                      { 'name':'Акции' , 'url':'' },
                      { 'name':'Статьи' , 'url':'' },
                      { 'name':'Консультация' , 'url':'' },
                      { 'name':'Новости' , 'url':'' }
                    ]
                    var menuHeader = 'Информация'
                  +footerMenu({'header': menuHeader,'items': menuItems})
          +grid__item({'m':2,'s':6,'xs':6}).footer-inner__contacts
            include footer-contact/footer-contact
          +grid__item({'m':2,'s':6,'xs':6})
            include footer-socials/footer-socials
          +grid__item({'m':2,'s':6,'xs':6})
            include footer-payment/footer-payment
        .footer-inner__bottom
          if homePage
            .footer-inner__desc
                include footer-description/footer-description
          .footer-inner__copy
            include footer-copy/footer-copy
          .footer-inner__developer
            include footer-developer/footer-developer
