.footer-main
  border-top 2px solid #959595
.footer-inner
  padding-top (basePadding*2)
  &__top
    margin-bottom (basePadding*2)
  &__contacts
    display flex
    flex-direction column
  &__bottom
    display flex
    flex-direction column
    align-items center
    border-top 2px solid #f6f6f6
    padding-top basePadding
  &__copy
    margin-bottom (basePadding*2)
  &__developer
    margin-bottom basePadding
    
