.consultation-similar
  padding (basePadding*2)
  border 1px solid #f0f0f0
  &__title
    text-align center
    margin-top 0
    @extends h3
  &__item
    a
      color #585858
      &:hover
        color #7b7b7b
