.consultation-aside
  margin-bottom (basePadding*2)
  padding (basePadding*2)
  background-color #f5f5f5
  a
    color #5a5a5a
    text-decoration none
    &:hover
      color #7b7b7b
  &__list
    margin-bottom font-xs
    font-size font-m
    line-height line-m
    & ^[-1]__item
      margin-bottom (font-xs)
      list-style none
    &--sub
      margin-top (font-xs/4)
      display none
      padding-left (basePadding*2)
      & ^[-2]__item
        margin-bottom (font-xs/4)
        list-style disc
        padding-left 0
  &__item
    margin-bottom (font-xs/4)
    list-style disc
    position relative
    padding-left (basePadding*2)
    &--active
      > a
        font-weight bold

  &__switch
    cursor pointer
    &::before
    &::after
      content ''
      display block
      background #cccccc
      width 0.25rem
      height 0.75rem
      position absolute
      left 0.25rem
      top 0.375rem
    &::before
      transform rotate(90deg)
    &--active
      & + ^[-2]__list--sub
        display block
      &::after
        content none
  
