//- -
//-   var asideMenu = {
//-     'name':'',
//-     'items': {
//-       'name':'',
//-       'url':'',
//-       'children':{
//-         { 'name':'', 'url':'' }
//-       }
//-     }
//-   }

mixin consultation-aside(menu = {})

  .consultation-aside
    if menu.name
      +aside-header({'title':menu.name}).consultation-aside__title
    ul.consultation-aside__list
      each item in menu.items
        li.consultation-aside__item
          .consultation-aside__switch !{item.name}
          if item.children
            ul.consultation-aside__list.consultation-aside__list--sub
              each child in item.children
                li.consultation-aside__item
                  a(href= child.url) !{child.name}
