+grid.wholesale-product.product-layout.wholesale-section
  +grid__item({'m':4,'xs':12}).product-layout__left
    include ../wholesale-photo/wholesale-photo
  +grid__item({'m':8,'xs':12}).product-layout__right
    include ../wholesale-price/wholesale-price
    include ../wholesale-properties/wholesale-properties
    include ../wholesale-product-clarification/wholesale-product-clarification
