mixin brandsList(list)
  .brands-list
    each item in list
      +grid({justify:'center'}).brands-list__item
        +grid__item({m:2,xs:6}).brands-list__img
          img(src!= item.src alt!= item.name)
        +grid__item({m:10,xs:12}).brands-list__body
          +createElement(item.body)
          
