.brands-list
  &__item
    margin-bottom (basePadding*2)
    padding-bottom basePadding
    border-bottom #d3d3d3 1px solid 
    &:last-child
      margin-bottom 0
      padding-bottom 0
      border-bottom none
