-
  var blocks = [
    {
      'title':'Бренды',
      'items':
      [
        'Simone',
        'Optima',
        'Чжангуан',
        '101',
        'Фабао',
        'Кудзитол'
      ]
    },
    {
      'title':'Для кого',
      'items':
      [
        'Для мужчин',
        'Для женщин'
      ]
    },
    {
      'title':'Назначение',
      'items':
      [
        'От перхоти и себореи',
        'Для улучшения структуры волос',
        'Для сухих волос',
        'Для лечения выпадения волос',
        'Для жирных волос',
        'Для ослабленных волос',
        'Для окрашенных волос',
        'Для лечения андрогенной алопеции',
        'Для лечения очагового облысения',
        'Для стимуляции роста волос'
      ]
    },
    {
      'title':'Вид',
      'items':
      [
        'Ампулы',
        'Лосьоны',
        'Маски',
        'Масла',
        'Спреи',
        'Сыворотки',
        'Шампуни',
        'Флюиды',
        'Маски-кондиционеры',
        'Тоники',
        'Гели',
        'Наборы',
      ]
    }
  ]
         
.catalog-list-filter
  each block in blocks
    .catalog-list-filter__block
      .catalog-list-filter__title !{block.title}
      ul.catalog-list-filter__list
        each item in block.items
          li.catalog-list-filter__item
            a(href='') !{item}
