.catalog-list-filter
  font-size font-s
  line-height line-s
  &__block
    margin-bottom basePadding
  &__title
    margin-bottom (basePadding/2)
    font-weight bold
  &__list
    display flex
    flex-wrap wrap
    margin-x -(basePadding/2)
  &__item
    padding-x (basePadding/2)
