.product-photos
  margin-bottom (basePadding*2)
  &__main
    padding (basePadding*2)
    border 1px solid #e6e6e6
    margin-bottom (basePadding)
    position relative
    img
      display block
      width 100%
      z-index 1
    &::after
      content ''
      position absolute
      bottom basePadding
      right basePadding
      width 1.5rem
      height 1.5rem
      display block
      background url('../images/zoom-in.svg')
      background-size contain
  &__additional
    display flex
    flex-wrap wrap
    justify-content center
    margin -(basePadding/2)
    .modal
      width 3.25rem
      padding (basePadding/2)
      border-bottom none
      img
        display block
        width 100%
