.product-photos
  .product-photos__main
    a(href='/images/hair_palette.png' data-fancybox='fancybox_product').fancybox_product
      img(src='/images/hair_palette.png')
  .product-photos__additional
    a(href='/images/hair_palette.png' data-fancybox='fancybox_product').modal.fancybox_product
      img(src='/images/hair_palette.png')
      
    a(href='/images/hair_palette.png' data-fancybox='fancybox_product').modal.fancybox_product
      img(src='/images/hair_palette.png')
      
    a(href='/images/hair_palette.png' data-fancybox='fancybox_product').modal.fancybox_product
      img(src='/images/hair_palette.png')
      
    a(href='/images/hair_palette.png' data-fancybox='fancybox_product').modal.fancybox_product
      img(src='/images/hair_palette.png')
      
    a(href='/images/hair_palette.png' data-fancybox='fancybox_product').modal.fancybox_product
      img(src='/images/hair_palette.png')
      
    a(href='/images/hair_palette.png' data-fancybox='fancybox_product').modal.fancybox_product
      img(src='/images/hair_palette.png')
