mixin createElement(elem)
  if typeof(elem) === 'string' || typeof(elem) === 'number' || elem === true
    | !{elem}
  else if elem === undefined || elem === null || elem === false
    | 
  else if Array.isArray(elem)
    each item in elem
      +createElement(item)
  else
    if elem.tag === undefined || elem.tag === null || elem.tag === false
      - elem.tag = 'div'
    #{elem.tag}(class= elem.className)
      if elem.content
        +createElement(elem.content)
