.catalog
  &__header
    font-weight bold
  &__item
    @media screen and (max-width point-m)
      margin-bottom (basePadding*2)
  &__image
    display inline-block
    padding basePadding
    border 0.5px solid #e9c89e
    margin-bottom 1rem
    width 100%
    img
      width 100%
  &__title
    text-align center
    text-decoration none
    display block
  &__pagination
    display flex
    justify-content center
    margin-bottom (basePadding*2)
