include catalog-list/catalog-list

-
    var catalogItems1 = [
      {
        'name':'Кислородный шампунь, 200 мл.',
        'link':'',
        'manufacturer':'Simone',
        'price':'1650',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'Лосьон Диксидокс де Люкс форте, 10*10 мл (1 ампула)',
        'link':'',
        'manufacturer':'Simone',
        'price':'500',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'Лосьон для волос Диксидокс ДХ2, 100 мл.',
        'link':'',
        'manufacturer':'Simone',
        'price':'4000',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'Лосьон для волос ДНК+Пыльца, 150 мл.',
        'link':'',
        'manufacturer':'Simone',
        'price':'2500',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'Лосьон для волос капиллярно-клеточное восстановление, 100 мл.',
        'link':'',
        'manufacturer':'Simone',
        'price':'2750',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'Лосьон для волос против перхоти, 150 мл.',
        'link':'',
        'manufacturer':'Simone',
        'price':'1900',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'Лосьон Сайнс Контроль, 100 мл',
        'link':'',
        'manufacturer':'Simone',
        'price':'3700',
        'image':'/images/hair_palette.png'
      },
    ]

.catalog
  if homePage
    h2.catalog__header Лечение волос
  +grid
    +grid__item({'m':3,'xs':12}).catalog__filter
      include catalog-filter-mobile/catalog-filter-mobile
      include catalog-filter/catalog-filter
    +grid__item({'m':9,'xs':12}).catalog__main
      .catalog__top
        if catalogPage
          h1.catalog__header Simone
        .catalog__sort
          include catalog-sort/catalog-sort
      +catalog-list(catalogItems1)
      .catalog__pagination
        include ../pagination/pagination
      if catalogPage
        include catalog-description/catalog-description
      .catalog__list-filter
        include catalog-list-filter/catalog-list-filter
        
