.home-header
  h1.home-header__main Магазин натуральных волос для наращивания
  .home-header__sub
    span Гарантия 30 дней! Доставка по всей России.
    a(href='/o-kompanii/garantii/').btn Подробнее
