.home-header
  text-align center
  &__main
    margin-bottom font-xxs
    margin-top basePadding
  &__sub
    display flex
    justify-content center
    align-items baseline
    margin-x -(basePadding)
    font-size font-l
    line-height line-l
    flex-wrap wrap
    span
      padding-x basePadding
    .btn
      margin-x basePadding
