extends /blocks/layout/layout

block content
  -
    var asideMenu =
      {
        'name':'Статьи и информация',
        'items': [
          {'name':'Уход за волосами','url':''},
          {'name':'Трихология','url':''},
          {'name':'Роль прически, окрашивания и стайлинга','url':''},
          {'name':'Повреждение волос','url':''},
          {'name':'Облысение (причины, диагностика, лечение)','url':''},
          {'name':'Другие болезни волос','url':''},
          {'name':'Подбор средств','url':''},
          {'name':'Физиология и строение волоса','url':''}
        ]
      }
    var articlesList = [
      {
        'title':'10 фактов о лысине',
        'body':`
          <p>Согласно данным статистики, примерно 47% мужской половины населения отдали бы пять лет своей жизни, чтобы снова обрести свою шевелюру. Ниже будут приведены основные 10 фактов о лысине.</p>
          <ol class='list-numbered'>
            <li>У блондинов количество волос на голове равняется шестидесяти – восьмидесяти тысячам. У брюнетов же количество волос может достигать ста тысяч. С точки зрения физиологии нормой ежедневного выпадения волос считается количество в сто волосинок. Моментом же для беспокойства будет обнаружения того или иного количества волос на подушке, гребне после расчесывания или же на полотенце.</li>
          </ol>  
        `,
        'date':'09 Июнь 2014',
        
      },
      {
        'title':'Алопеция',
        'body':`
          <h3>Какое объяснение потери волос с точки зрения медицины?</h3>
          <p>Алопеция или же, иными словами, облысение подразумевает под собой механизм лишения волос кожным покровом головы человека.</p>

          <h3>Какие же существуют формы алопеции?</h3>
          <p>Выделяют следующие формы алопеции: андрогенную, очаговую и диффузную. Самое большое распространение получила андрогенная или же мужская алопеция.</p>
        `,
        'date':'09 Июнь 2014',
        
      },
      {
        'title':'Анатомия мышц волосистой части головы',
        'body':`
          <p>Анатомия мышц волосистой части головы следующая:</p>
          <ul class='list-marked'>
            <li>Подкожный мускул шеи;</li>
            <li>Передний мускул ушной раковины;</li>
            <li>Верхний мускул ушной раковины;</li>
            <li>Лобный мускул;</li>
          </ul>
        `,
        'date':'06 Июнь 2014',
        
      },
      {
        'title':'Андрогенная алопеция женщин',
        'body':`<p>Некоторые женщины могут столкнуться с проблемой андрогенной алопеции, то есть облысения, обусловленного непосредственным влиянием мужских половых гормонов. Данное состояние встречается при увеличении выработки андрогенов, в случае повышения чувствительности рецепторов волосяных фолликулов к мужским половым гормонам, либо оно обусловлено нарушением активности ферментов, принимающих прямое участие в метаболизме стероидов таких, как ароматаза  и 5-альфа-редуктаза.</p>`,
        'date':'09 Июнь 2014',
        
      },
    ]



  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Статьи'})
      +grid().page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Статьи и информация
          +articles-list(articlesList)
          include ../blocks/pagination/pagination
