extends /blocks/layout/layout


block content
  -
    var asideMenu =
      {
        'name':'Статьи и информация',
        'items': [
          {'name':'Уход за волосами','url':''},
          {'name':'Трихология','url':''},
          {'name':'Роль прически, окрашивания и стайлинга','url':''},
          {'name':'Повреждение волос','url':''},
          {'name':'Облысение (причины, диагностика, лечение)','url':''},
          {'name':'Другие болезни волос','url':''},
          {'name':'Подбор средств','url':''},
          {'name':'Физиология и строение волоса','url':''}
        ]
      }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Статьи'})
      +grid().page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          +article({'title':'10 фактов о лысине','date':'09 Июнь 2014'})
            p Согласно данным статистики, примерно 47% мужской половины населения отдали бы пять лет своей жизни, чтобы снова обрести свою шевелюру. Ниже будут приведены основные 10 фактов о лысине.
            ol.list-numbered
              li У блондинов количество волос на голове равняется шестидесяти – восьмидесяти тысячам. У брюнетов же количество волос может достигать ста тысяч. С точки зрения физиологии нормой ежедневного выпадения волос считается количество в сто волосинок. Моментом же для беспокойства будет обнаружения того или иного количества волос на подушке, гребне после расчесывания или же на полотенце.
              li Согласно данным статистики примерно 30 % мужской половины населения являются лысыми.
              li Лысина не является патологией, а представляет собой косметическую проблему, которая может быть представлена следующими причинами: наследственными, возрастными, а также гормональными. Генетический фактор может быть активизирован за счет следующих воздействий: стрессовые состояния, климатических показателей, пониженное содержание протеинов в еде, недостаток в организме микроэлементов и витаминов. Хотелось бы отметить, что волосяной покров, располагающийся в затылочной и височной областях, где фолликулы волос нечувствительны к воздействию гормона. Не склонен к выпадению. Как правило, больше всего подвержены алопеции люди с темными волосами, затем в порядке убывания стоят люди с русыми волосами, и в самом конце – блондины. К тому же, более чем на 80 % алопеция наследуется ребенком от матери.
              li Данный факт о лысине гласит, что первые признаки алопеции возникают в период всплеска активности гормонов, в период с 23 до 30 лет.
              li Общее число облысевших, как правило, является величиной постоянной. Но, следует сказать, что на сегодняшний день облысение помолодело.
              li Несколько слов о народных способах борьбы с лысиной. Если они эффективны, то в их использовании нет ничего плохого. Однако следует помнить, что любая попытка совладать с облысением травами, разрекламированными средствами или же помощью знахарей никак не сможет повлиять на изменение генетической программы.
              li Факт о пересадке волос. С области затылка производят отбор полноценных фолликул волос, а также мельчайших сегментов (микромини-графты), которые пересаживают на зону алопеции. Хотя волосяного покрова на голове и не станет больше, но умелая рука хирурга сможет все же искусно замаскировать лысину.
              li Имплантация волос не вызывает ощутимого дискомфорта. Все процедуры производятся амбулаторно, под местным наркозом, действие которой сохраняется на весь период манипуляции (от 1,5 до 5 часов).
              li В период реабилитации происходит шелушение кожного покрова, за счет чего он очищается. А спустя уже два-три месяца возобновляется рост волосяного покрова со скоростью сантиметр в месяц.
              li О вероятности развития отторжения. Так как пациент сам является для себя донором, то несовместимости, как правило, не возникает. Пересаженный волосяной покров значительно лучше растет, намного позже подвергается поседению, его можно мыть, стричь, а также окрашивать.
            p В Америке ежегодно проводится пятьдесят тысяч оперативных вмешательств по пересадке волосяного покрова, в России же – сотни. Как известно, мужчины являются недоверчивым контингентом, с осторожностью подходят к современным технологиям медицины, но и клиник по пересадке волос у нас не так уж и много на сегодняшний день.
