extends /blocks/layout/layout


block content
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Бренды'})
      h1 Бренды
      -
        const brands = [
          {
            src: 'http://triholog.org/images/brands/brand-simone.png',
            name: 'Simone',
            body: [
              {tag: 'p', content: 'Торговая марка Simone представляет специальную линию лечебных косметических средств против выпадения волос. Эта косметика специально разработана испанскими учеными на основе натуральных ингредиентов и активных микроэлементов и осуществляет не только мягкий ежедневный уход за волосами, но и эффективное и безопасное их лечение.'},
              {tag: 'p', content: 'Кроме того, каждая женщина непременно оценит удовольствие, получаемое при использовании продукции Simone, мягкое нанесение которой сопровождается гармонично подобранным тонким ароматом.'},
              {tag: 'p', content: 'Испанская компания WONTERSAF S.A., один из европейских лидеров в сфере лечения кожи головы и волос, более 15 лет представляет продукцию Simone на рынках Европы, США и России. Simone – это эксклюзивная косметика класса люкс.'},
              {tag: 'p', content: 'Лечебная косметика Simone успешно применяется при таких проблемах, как:'},
              {tag: 'ul', className:'list-marked', content: [
                {tag:'li', content:'андрогенетическая алопеция;'},
                {tag:'li', content:'диффузное облысение;'},
                {tag:'li', content:'заболевания волосистой части кожи головы, среди которых перхоть, себорейный дерматит и себорея, псориаз;'},
                {tag:'li', content:'очаговое облысение;'},
                {tag:'li', content:'заболевания и повреждения волосяных стержней.'}
              ]},
              {tag: 'p', content: 'Лечебная косметика Simone – это сбалансированные составы, включающие в себя активные ингредиенты, эффективные и при этом полностью безопасные для Вашего здоровья. Достижения науки позволили совместить в косметике Simone необходимые волосам микроэлементы и витамины с экстрактами плаценты и вытяжками из лекарственных растений, таких как крапива, розмарин, хвощ, кора хинного дерева и других. Кроме того, действие лечебной косметики Simone основывается на использовании в составах пчелиного маточного молочка, дрожжевых экстрактов, особой пыльцы, планктонных экстрактов и даже ДНК рыб. Все это позволяет косметическим средствам Simone обладать сильно выраженным лечебным эффектом.'},
              {tag: 'p', content: '<a href="/lechenie-volos/simone">Смотреть весь каталог бренда</a>'},
            ],
          },
          {
            src: 'http://triholog.org/images/brands/brand-optima.png',
            name: 'Optima',
            body: [
              {tag: 'p', content: 'Optima (Италия) - это лечебно-профилактическая линия по уходу за волосами. Производитель линии OPTIMA - Компания Pink Frogs - была основана в 1939 году. Первоначально компания занималась производством косметики для лица и тела.'},
              {tag: 'p', content: 'Первая продукция для волос под торговой маркой OPTIMA была выпущена в 1985 году. Препараты этой марки удовлетворяли главные потребности салонов красоты в специализированной косметике для волос. Лечебно-профилактическая косметика "ОПТИМА" включает следующие линии:'},
              {tag: 'ul', className:'list-marked', content: [
                {tag:'li', content:'для нормальных и тонких волос'},
                {tag:'li', content:'для окрашенных и сухих волос'},
                {tag:'li', content:'для поврежденных волос'},
                {tag:'li', content:'для лечения перхоти'},
                {tag:'li', content:'для лечения выпадения волос'},
                {tag:'li', content:'для жирных волос'},
                {tag:'li', content:'для укладки волос'},
                {tag:'li', content:'для лечебного ухода за раздраженной кожей головы'},
                {tag:'li', content:'питательный лосьон на основе плаценты'},
                {tag:'li', content:'солнцезащитная линия для волос'},
              ]},
              {tag: 'p', content: 'Итальянские средства для восстановления, ухода и укладки Optima — это уникальное сочетание высокотехнологичных решений и стиля. Средства разработаны специально для современных людей, которые хотят обеспечить не только лучший вид своим волосам, но и стремятся добиться их истинного здоровья. Средства Optima для волос — это целая палитра различных шампуней, масок, спреев и сывороток, изготовленных из биологически активных веществ. В основе философии бренда — уважение к естественным процессам в волосах. Средства стремятся поддерживать естественные процессы, стимулировать их и обеспечивать их беспрепятственное прохождение. Данная косметика рекомендована обществом трихологов.'},
              {tag: 'p', content: '<a href="/lechenie-volos/optima">Смотреть весь каталог бренда</a>'},
            ],
          },
          {
            src: 'http://triholog.org/images/brands/brand-fabao.png',
            name: 'FABAO',
            body: [
              {tag: 'p', content: 'Косметика FABAO 101 (Китай) предназначена для лечения выпадения волос на основе рецептуры традиционной китайской медицины с использованием современной. Фабао - лечебная линия для волос и кожи головы, а так же лечение угревой сыпи лица. Средство действует непосредственно на основание клетки, ограничивая гиперсекрецию сальных желез, и, как следствие, лечение и укрепление волос, стимуляцию роста волос, предотвращение выпадения волос, лечение себореи,лечение алопеции, лечение облысения.'},
              {tag: 'p', content: 'Средства 101 восстанавливают волосы, эффективно стимулирует их рост.'},
              {tag: 'p', content: 'Клинические испытания были проведены в Пекинской больнице китайской медицины, в Пекинской китайско-японской больнице, в клинике Пекинского медицинского университета. После наблюдения за 8324 пациентами доказано: что 101 является эффективным средством для стимуляции роста волос при очаговом, тотальном и повсеместном облысении у взрослых и детей. Положительный результат 101 достигается в 97.5% случаях. Таким образом, косметика FABAO 101 успешно используется в области лечения алопеции, принося блестящий эффект'},
              {tag: 'p', content: '<a href="/lechenie-volos/fabao">Смотреть весь каталог бренда</a>'}
            ],
          },
          {
            src: 'http://triholog.org/images/brands/brand-zhangguang.png',
            name: 'Zhangguang 101',
            body: [
              {tag: 'p', content: 'Выдающийся китайский врач Чжао Чжангуан еще в 1974г. разработал уникальную линию средств, получивших название «Чжангуан 101». Эта серия широко используется в 50 странах мира и является на сегодняшний день одним из самых эффективных средств для решения всех проблем, связанных с волосами. С 1996 года серия лосьонов «101» успешно применяется в России. Уникальность серии «101» заключается в том, что в состав препаратов входят только натуральные природные компоненты.В основе всех средств, выпускаемых компанией Zhangguang 101, лежит сила природы, заключённая в ценных лекарственных травах.'},
              {tag: 'p', content: 'В косметологии ещё много столетий назад использовались стебли, корни, плоды, листья целебных трав. Индустрия красоты сегодня активно обогащает косметические средства экстрактами и вытяжками растений. Ведь натуральные компоненты так близки человеческому организму и безвредны. Лечебные травы обладают полезными свойствами, которые мы используем в приготовлении нашей продукции. Польза наших косметических средств не вызывает сомнений и очевидна, ведь их сила заложена в них самой природой. Биологически активные вещества, эфиры, витамины, содержащиеся в растениях, помогают защитить волосы и кожу от агрессивного воздействия окружающей среды.'},
              {tag: 'p', content: 'Препараты изготавливаются по специальной технологии включают в себя вытяжки из более чем 16 лекарственных трав, таких как: женьшень, шнура перисто-нарезная, горец многоцветковый, астрагал, гастродия высокая, дудник лесной, сафлор красильный, горечавка, шероховатая, ясенец узколистный, лазурник, софора желтоватая, мята перечная, шалфей красно корневищный, имбирь и другие. Сбор трав производится в экологически чистых районах предгорий и гор Китая. Каждое из растений, входящих в лосьон, обладаем специфическим лекарственным действием. Секрет препаратов доктора Чжангуана заключается в особом сочетании этих растений, их пропорциональном составе и уникальной технологии производства. вытяжек из этих растений.'},
              {tag: 'p', content: 'Лосьоны серии «101» подходят для всех возрастов. Токсикологические испытания лосьонов подтвердили их полную безопасность.'},
              {tag: 'p', content: 'Продолжительность лечения препаратами серии «101» индивидуальна для каждого пациента и составляет от 2 недель до 8 месяцев, по истечении которых наблюдается стойкое улучшение восстановление утраченного волосяного покрова. Особо следует отметить, что новые волосы выглядят здоровыми, красивыми и абсолютно естественными. Не отмечено абсолютно никаких побочных эффектов ни при клинических испытаниях, ни при практическом использовании. Препарат абсолютно не токсичен и не вызывает аллергических реакций.'},
              {tag: 'p', content: '<a href="/lechenie-volos/chjanguan_101">Смотреть весь каталог бренда</a>'},
            ],
          },
          {
            src: 'http://triholog.org/images/brands/brand-eucapil.png',
            name: 'Эвкапил',
            body: [
              {tag: 'p', content: 'Эвкапил - новый современный препарат для лечения андрогенетической алопеции у мужчин и женщин. Компания Интерфарма (Прага, Чешская республика), выпустила препарат под названием Eucapil (Эвкапил), представляющий собой ампулы, в которых содержится 2 мл 2% раствора флуридила в изопропиловом спирте, 50 мг масла виноградных косточек.'},
              {tag: 'p', content: 'Клинические испытания препарата проводились в отделении дерматологии Военно-медицинской школы (Председатель: J. Bucek, M.D., Университет Palacky, Оломоуц, Чешская республика) на 43 мужчинах с AHA 2 ст. по Норвуду.'},
              {tag: 'p', content: 'В двойном слепом, контролируемом плацебо исследовании после 3 и 9 месяцев применения препарата, проводилось исследование фототрихограмм и гематологических показателей.'},
              {tag: 'p', content: 'РЕЗУЛЬТАТЫ: Ни в одном случае не зафиксировано раздражения кожи. После 3 месяцев, средний процент анагеновых (растущих) волос не изменился в группе с плацебо, в группе с Эвкапилом процент анагеновых волос вырос от 76 % до 85 % (что является нормой), а к 9 месяцам к 87 %. Сравнительные макрофотографии показывают приемлемые косметические результаты лечения препаратом. Ни в одном случае не зафиксировано содержание флуридила в сыворотке крови, даже в следовых количествах, что свидетельствует о безопасности препарата для организма.'},
              {tag: 'p', content: 'Эвкапил должен применяться наружно, 1 раз в день, по 2 мл., на протяжении от 3 до 6 месяцев, после чего возможен перерыв в лечении на срок, определяемый специалистом, в зависимости от индивидуальных особенностей клинической картины.'},
              {tag: 'p', content: '<a href="/lechenie-volos/eucapil">Смотреть весь каталог бренда</a>'},
            ],
          },
          {
            src: 'http://triholog.org/images/brands/brand-kudzitol.png',
            name: 'Кудзитол',
            body: [
              {tag: 'p', content: 'Отечественные средства Кудзитол специально разработаны для комплексного решения проблемы выпадения волос, в большинстве случаев отягощенного загрязнением волосяных фолликулов избыточным сальным секретом. Препараты также предназначены для активного устранения перхоти и других симптомов себорейного дерматита, таких, как зуд, болезненность, воспаление и раздражение кожи волосистой части головы, а гель Кудзитол используется для лечения псориаза - тяжелого кожного заболевания. Современный проводник Транскутол способствует проведению активных веществ в зону роста волос. Компоненты препарата, такие как кофеин, экстракт Кудзю, никотинамид, ментол улучшают кровоснабжение волосяного сосочка, значительно стимулируя деление клеток в области волосяной луковицы. Изофлавоны экстракта Кудзю стимулируют активность ароматазы, что ведет к снижению концентрации дигидротестостерона в области волосяных фолликулов. Также выражена антиоксидантная и противовоспалительная активность экстракта. Салициловая кислота обладает кератолитическими свойствами, способствует очищению рогового слоя. Климбазол - современный компонент, снижающий численность микробной и грибковой микрофлоры, вызывающей перхоть и воспаление. Биосера обладает кератолитическим и антисеборейным эффектом.'},
              {tag: 'p', content: 'Оновное назначение: стимуляция роста волос, очищение волосяных фолликулов.'},
              {tag: 'p', content: 'Лечебная линия включает: Шампунь, бальзам и гель "Кудзитол"'},
              {tag: 'p', content: '<a href="/lechenie-volos/kudzitol">Смотреть весь каталог бренда</a>'},
            ],
          },
        ]
      +brandsList(brands)
