extends /blocks/layout/layout


block content
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Корзина'})
      h1 Корзина
      +grid()
        +grid__item({'m':9,'xs':12})
          include ../blocks/cart/cart-table/cart-table
 
