extends /blocks/layout/layout

block content
  - var catalogPage = true
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Каталог'})
      include /blocks/catalog/catalog
      //- +grid.page-cols
      //-   +grid__item({'m':3,'xs':12}).page-cols__aside
      //-     +aside-menu(asideMenu)
      //-     include ../blocks/catalog/catalog-aside-info/catalog-aside-info
      //-   +grid__item({'m':9,'xs':12}).page-cols__main
      //-     h1 Каталог товаров
      //-     h2 Славянские волосы для наращивания
      //-     //- +catalog-list(catalogItems1)
      //-     h2 Материалы и инструменты
      //-     //- +catalog-list(catalogItems2)
      //-     h2 Самые лучшие волосы для наращивания
      //-     p Мы рады своему достижению — возможности предложить каждому клиенту самые лучшие волосы для наращивания. Серьезно и упорно мы шли к этой цели с самого первого дня создания компании: тщательно выбирали поставщиков, добились сертификации продукции, создали отдел контроля качества. И приложили массу других усилий. Благодаря этому мы достигли желаемого результата: стабильно поставляем клиентам только те волосы, в качестве которых уверены сами.
      //- 
      //-     p Сейчас вы находитесь на странице нашего каталога, в котором можете выбрать:
      //-     ul.list-marked
      //-       li отборные;
      //-       li натуральные;
      //-       li необработанные;
      //-       li шикарные волосы для наращивания.
      //-     p Приглашаем к сотрудничеству всех, кто считает, что достоин только лучшего!
