extends /blocks/layout/layout


block content
  - var checkoutStep = 3
  .container
    .content
      h1 Оформление заказа
      +grid.page-cols
        +grid__item({'m':6,'xs':12}).page-cols__main
          include /blocks/checkout/checkout-form/checkout-form
        +grid__item({'m':6,'xs':12}).page-cols__aside
          include /blocks/checkout/checkout-table/checkout-table
