extends /blocks/layout/layout

include /blocks/consultation/consultation-aside/consultation-aside
include /blocks/consultation/consultation-list-item/consultation-list-item
include /blocks/consultation/consultation-experts/consultation-experts

block content
  -
    var asideMenu =
      {
        'name':'Консультации',
        'items': [
          {'name':'Лечение облысения и кожи головы (4415)','url':'',
            'children':[
              {'name':'Выпадение волос у женщин (1502)','url':''},
              {'name':'Выпадение волос у мужчин (393)','url':''},
              {'name':'Диффузная алопеция (369)','url':''},
              {'name':'Андрогенетическая алопеция (546)','url':''},
              {'name':'Очаговая алопеция (287)','url':''},
              {'name':'Тотальная алопеция (49)','url':''},
              {'name':'Себорея (252)','url':''},
              {'name':'Перхоть (65)','url':''},
              {'name':'Другие заболевания кожи головы (147)','url':''},
              {'name':'Препараты для лечения волос (385)','url':''},
              {'name':'Другие болезни волос (140)','url':''},
              {'name':'Пересадка волос (55)','url':''},
              {'name':'Седина (39)','url':''},
              {'name':'Облысение при травмах (ожоги, шрамы) (64)','url':''},
              {'name':'Выпадение бровей и ресниц (23)','url':''},
              {'name':'Пересадка бровей и ресниц (7)','url':''},
              {'name':'Псориаз кожи головы (25)','url':''},
              {'name':'Зуд кожи головы (67)','url':''},
            ]
          },
          {'name':'Уход за волосами и улучшение их состояния (470)','url':'',
            'children': [
              {'name':'Уход за жирными волосами (70)','url':''},
              {'name':'Уход за сухими волосами (65)','url':''},
              {'name':'Уход за тонкими волосами (40)','url':''},
              {'name':'Уход за окрашенными волосами (49)','url':''},
              {'name':'Уход за вьющимися волосами (25)','url':''},
              {'name':'Питание и восстановление слабых волос (70)','url':''},
              {'name':'Уход за непослушными волосами (32)','url':''},
              {'name':'Уход за поврежденными волосами (105)','url':''},
              {'name':'Уход за бровями и ресницами (14)','url':''}
            ]
          },
          {'name':'Маскировка облысения (42)','url':'',
            'children': [
              {'name':'Безоперационное замещение волос (33)','url':''},
              {'name':'Загустители волос (5)','url':''},
              {'name':'Накладки для волос, шиньоны, хвосты и парики (4)','url':''},
            ]
          }
        ]
      }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Статьи'})
      +grid().page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +consultation-aside(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          include /blocks/consultation/consultation-item/consultation-item
          include /blocks/consultation/consultation-similar/consultation-similar
