extends /blocks/layout/layout


block content
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Доставка и оплата'})
      h1 Доставка и оплата
      h2 Оплата заказа
      p Оплатить товар можно следующими способами:
      ul.list-marked
        li
          a(href='#opl_online') Онлайн оплата
        li
          a(href='#opl_kurier') Оплата курьеру
        li
          a(href='#opl_magazin') Оплата в магазине
      h2 Доставка заказа
      p Мы предлагаем следующие виды доставки товаров из интернет-магазина:
      ul.list-marked
        li
          a(href='#opl_online') Доставка курьером
        li
          a(href='#opl_online') Доставка Почтой России
        li
          a(href='#opl_online') Самовывоз

      p Условия:
      ul.list-marked
        li Доставка товаров интернет-магазином трихолог.орг осуществляется за счет и по поручению клиента.
        li Доставка производится во все регионы России.
        li Обработка и подтверждение заказов по телефону осуществляется оператором нашего магазина ежедневно с 10 до 18 часов.
        li После оформления заказа с Вами по указанному номеру телефона свяжется менеджер для подтверждения заказа. Вы сможете задать ему все интересующие Вас вопросы.
      h2 Онлайн оплата
      p
        a(href='http://robokassa.ru/ru/' target='_blank')
          <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 952.5 112" width="2500" height="294" style="max-width: 25.5102rem; max-height: 3rem"><style>.st0{fill:#276eb8}.st1{fill:#d61e2f}</style><path class="st0" d="M95 1106c-37-17-70-52-84-89C4 998 0 820 0 494V0h230v310h306l80-155L695 0h133c72 0 132 3 132 6 0 4-41 86-92 182l-91 176 24 15c135 89 195 264 159 464-23 122-82 208-173 248-51 23-60 24-357 26-240 2-311 0-335-11zm580-226c16-6 32-24 41-47 19-45 21-160 4-194-43-83-96-99-322-99H230v350h209c115 0 221-4 236-10zM1300 1111c-99-30-170-101-200-198-24-78-50-262-50-351 0-86 24-261 45-332 37-123 100-186 216-216 50-13 103-15 273-12 195 3 215 6 264 27 141 63 202 223 202 531-1 324-64 484-213 539-53 19-76 21-285 20-125 0-238-4-252-8zm465-244c67-92 66-545-2-612-20-21-405-22-422-2-47 57-64 386-28 540 15 61 23 80 40 87 12 5 107 8 210 7 169-2 190-4 202-20zM2266 1098c-22-13-49-39-60-58-20-34-21-52-24-452-2-279 1-430 8-458 17-62 61-107 121-119 62-14 503-14 582-1 154 25 233 115 244 280 7 93-8 162-47 224l-29 45 37 72c36 69 37 76 37 173 0 83-5 110-23 151-29 63-64 100-127 133l-50 27-315 3c-312 2-315 2-354-20zm619-220c14-14 23-81 14-112-5-18-21-43-35-57-25-24-29-24-235-27l-209-3v212l229-3c126-2 232-6 236-10zm-44-446c40-16 62-59 61-116-1-36-6-54-18-63-13-10-76-13-241-13h-223v212l198-4c108-3 209-10 223-16zM3472 1099c-97-38-146-106-184-256-19-76-22-116-22-283 0-182 2-202 27-295 31-113 60-162 118-205 72-51 94-55 349-55s277 4 349 55c58 43 87 92 118 205 25 93 27 113 27 295 0 167-3 207-22 283-38 152-87 219-187 256-51 19-76 21-288 20-209 0-237-2-285-20zm482-219c27-10 39-41 58-154 24-139 3-401-37-462-15-24-16-24-215-24-234 0-220-7-246 126-37 184-7 491 49 514 30 12 359 12 391 0z" transform="matrix(.1 0 0 -.1 0 112)"/><g><path class="st1" d="M4441 1089l-31-31V68l29-29c26-25 37-29 88-29 49 0 63 4 81 23 35 37 42 80 42 254v163h147l74-64c148-127 199-195 199-263 0-38 5-50 34-79 30-30 40-34 85-34 42 0 56 5 83 29 32 28 33 32 32 105-1 63-6 86-32 139-35 70-137 195-201 246l-42 33 65 59c78 72 150 165 184 238 19 42 25 72 26 128 1 72 0 76-32 104-29 26-40 29-96 29-58 0-67-3-85-26-14-18-21-41-21-71 0-24-6-58-14-76-17-42-93-125-185-204l-74-63h-147v163c0 89-5 179-10 199-15 54-51 78-116 78-45 0-57-4-83-31zM5714 1106c-135-43-209-139-261-335-24-88-26-118-30-372-6-300-2-333 44-369 33-26 118-27 149-2 36 29 44 57 44 161v101h520V179c0-109 0-111 29-140 26-25 37-29 86-29 51 0 60 3 87 32l29 32-3 320c-4 296-6 327-26 394-48 158-118 257-212 301-52 24-66 26-235 28-128 2-192-1-221-11zm345-227c55-19 102-140 115-291l5-68h-522l7 80c12 141 67 273 118 283 49 9 247 6 277-4zM6725 1106c-98-31-153-79-187-166-17-44-22-76-22-155 0-160 48-251 161-306 45-22 63-24 260-29 204-5 213-6 235-28 29-29 32-114 5-155l-17-27h-269c-254 0-270-1-294-20-56-44-58-140-5-185l30-25h291c162 0 308 5 328 10 55 15 114 73 151 148 31 63 33 72 33 177 0 98-3 116-26 165-33 70-78 122-127 146-32 16-69 20-265 24-265 6-257 2-257 105 0 104-15 99 304 105l276 5 27 27c24 24 27 36 31 112l5 86-314-1c-224 0-325-4-354-13zM7715 1106c-22-7-53-20-70-28-129-68-183-296-109-458 31-68 65-104 129-138 48-26 56-27 250-30 110-1 212-8 227-13 35-14 52-65 43-125-11-76-3-74-306-74h-271l-29-29c-25-26-29-37-29-86s4-60 29-86l29-29h302c336 0 344 1 414 68 61 59 89 129 94 244 6 133-19 211-93 284-33 33-66 56-91 63-22 6-122 11-225 11s-200 3-217 6c-36 7-52 38-52 99s16 92 52 99c17 3 138 6 270 6 311 0 318 4 318 155v75l-312-1c-223 0-325-4-353-13zM8811 1100c-29-10-69-31-88-46-80-61-152-221-172-384-15-114-14-558 0-599 14-39 54-61 113-61 36 0 52 6 78 29l33 29 3 111 4 111h506l4-111 3-111 33-29c26-24 41-29 82-29s56 5 82 29l33 29-1 314c-1 287-2 319-22 391-45 165-112 265-209 313-57 28-62 29-243 31-163 3-191 1-239-17zm400-250c40-47 70-147 76-247l6-83h-513v61c0 127 56 275 112 299 13 5 83 8 157 7l133-2 29-35z" transform="matrix(.1 0 0 -.1 0 112)"/></g></svg>
      p В нашем интернет–магазине вы можете оплатить заказ через 
        a(href='http://robokassa.ru/ru/' target='_blank') платежный агрегатор Робокасса
      -
        const showHide = [
          {
            title: 'Прием электронных платежей Webmoney, Яндекс.Деньги и других систем',
            body: [
              {tag:'p', content:'Принимаем электронные платежи без рисков и лишних сложностей! На сегодняшний день вы можете оплатить заказ одной из следующих электронных валют:'},
              {tag:'ul', className: 'list-marked', content: [
                {tag:'li',content:'Webmoney - <a href="http://www.webmoney.ru/" target="_blank">webmoney.ru</a>'},
                {tag:'li',content:'Яндекс.Деньги - <a href="https://money.yandex.ru/" target="_blank">money.yandex.ru</a>'},
                {tag:'li',content:'Moneymail RUR - <a href="https://www.moneymail.ru/" target="_blank">moneymail.ru</a>'},
                {tag:'li',content:'RBK Money RUR - <a href="https://rbkmoney.ru/" target="_blank">rbkmoney.ru</a>'},
                {tag:'li',content:'EasyPay - <a href="https://ssl.easypay.by/" target="_blank">easypay.by</a>'},
                {tag:'li',content:'Единый кошелек - <a href="http://www.w1.ru/" target="_blank">w1.ru</a>'},
                {tag:'li',content:'LiqPay - <a href="https://www.liqpay.com/" target="_blank">liqpay.com</a>'},
                {tag:'li',content:'WebCreds - <a href="https://www.webcreds.com/" target="_blank">webcreds.com</a>'},
                {tag:'li',content:'Z-Payment - <a href="https://z-payment.com/" target="_blank">z-payment.ru</a>'}
              ]}
            ]
          },
          {
            title: 'Прием платежей по банковским картам VISA и MasterCard',
            body: [
              {tag:'p', content:'Вы можете оплатить заказ по карте <strong>Visa</strong> и <strong>MasterCard</strong>. Оплата по банковской карте через Интернет реализуется так, чтобы обеспечить максимальную защиту данных, вводимых клиентом, что минимизирует риск мошенничества. Каждая оплата картами <strong>Visa</strong> и <strong>MasterCard</strong> проходит тщательную проверку системой, что дополнительно повышает безопасность приема платежей.'},
              {tag:'p', content:'Если такая функция не подключена на вашей карте, то платежи по карте могут быть отклонены фильтрами системы безопасности. Рекомендуем обратиться в банк за выяснением точной причины отказа.'},
              {tag:'p', content:'<img src="/images/visa-mastercard-small.png" alt="Visa и MasterCard">'},
              {tag:'p', content:'Безопасность обработки платежей банковскими картами гарантирована системой сертификации по международному стандарту PCI DSS и совместимостью с протоколами <strong>Verified by Visa</strong> и <strong>MasterCard Secure Code</strong>(3-D Secure).'},
              {tag:'p', content:'<img src="/images/pagoyseguridad.gif" alt="Verified by Visa и MasterCard Secure Code" style="margin-left: 10px;">'},
            ]
          },
          {
            title: 'Оплата заказа в системах Интернет-банк',
            body: [
              {tag:'p', content:'Для совершения платежных операций с помощью системы Интернет-банк не требуется регистрация в платежных системах, не нужно заводить новые аккаунты. Все, что для этого нужно – это иметь карту банка и мобильный телефон. Все операции максимально защищены и кража средств с карты плательщика сторонними лицами при совершении платежа посредством Интернет-банкинга сведена до минимума.'},
              {tag:'p', content:'В настоящий момент доступны системы Интернет-банк следующих Банков:'},
              {tag:'ul', className:'list-marked', content:[
                {tag:'li', content:'ОАО «Альфа-Банк» (система Альфа-Клик)'},
                {tag:'li', content:'ОАО Промсвязьбанк (система PSB-Retail)'},
                {tag:'li', content:'АК ФБ Инноваций и Развития (ЗАО) (система BSS)'},
                {tag:'li', content:'ОАО «Межтопэнергобанк» (система mteb@online)'},
                {tag:'li', content:'HandyBank (<a href="http://www.handybank.ru/?option=com_content&amp;view=article&amp;id=2574&amp;Itemid=158" target="_blank">система Интернет-банк следующих банков</a>)'},
              ]},
            ]
          },
          {
            title: 'Прием платежей со счетов мобильных телефонов - «Мобильная коммерция»',
            body: [
              {tag:'p', content:'Оплатить заказ можно со счета вашего мобильного телефона. В настоящее время доступен прием платежей со счетов телефонов таких мобильных операторов, как: Мегафон, Билайн и МТС.'},
              {tag:'p', content:'<strong>Оплата счета ROBOKASSA с помощью приложения для iPhone</strong>'},
              {tag:'p', content:'<img src="/images/iphone.png" alt="ROBOKASSA" style="float: left; margin-right: 10px;">Оплата с банковской карты через приложение ROBOKASSA.'},
              {tag:'p', content:'<a href="http://robokassa.ru/ru/iRobokassa.aspx" target="_blank">Порядок оплаты через iPhone</a>'},
            ]
          },
          {
            title: 'Прием платежей через терминалы QIWI, Элекснет, Comepay и другие',
            body: [
              {tag:'p', content:'Это простая организация приема платежей через терминалы мгновенной оплаты.'},
              {tag:'p', content:'В настоящее время поддерживается:'},
              {tag:'ul', className:'list-marked', content:[
                {tag:'li', content:'прием платежей через терминалы QIWI - <a href="https://qiwi.ru/main.action" target="_blank">www.qiwi.ru</a>'},
                {tag:'li', content:'прием платежей через терминалы Элекснет - <a href="http://www.elecsnet.ru/" target="_blank">www.elecsnet.ru</a>'},
                {tag:'li', content:'прием платежей через терминалы Comepay - <a href="http://www.comepay.ru/" target="_blank">www.comepay.ru</a>'},
                {tag:'li', content:'прием платежей через терминалы Кассира.нет - <a href="http://www.pscb.ru/terminals.aspx?pageuid=terminals" target="_blank">www.pscb.ru/terminals.aspx?pageuid=terminals</a>'},
                {tag:'li', content:'прием платежей через терминалы Мобил Элемент - <a href="http://www.mobilelement.ru/" target="_blank">www.mobilelement.ru</a>'},
                {tag:'li', content:'прием платежей через терминалы PinPay Express - <a href="http://www.pinpay.ru/index.htm" target="_blank">www.pinpay.ru</a>'},
                {tag:'li', content:'прием платежей через терминалы Absolutplat - <a href="http://www.absolutplat.ru/" target="_blank">www.absolutplat.ru</a>'},
              ]},
              {tag:'p', content:'Все платежи проходят по защищенным каналам и не имеют комиссии. Вы оплачиваете только стоимость товара.'},
            ]
          },
        ]
      each item in showHide
        +showHide(item)
      h3 Порядок оплаты заказа
      ol.list-numbered
        li Для того чтобы воспользоваться данным способом оплаты необходимо на шаге «Способ оплаты» выбрать «Оплата онлайн»;
        li После подтверждения заказа вы будете перенаправлены на сайт платежного сервиса Робокасса, где вам необходимо выбрать способ оплаты;
        li Выбрав удобный вам способ оплаты, просто следуйте подсказкам на странице;
        li После подтверждения оплаты заказа у Вас будет 45 минут на совершение оплаты через один из способов, которые предлагает Робокасса.
        li После того как вы совершили оплату, статус вашего заказа изменится на Оплачен.
      h2 Оплата курьеру
      p Оплата осуществляется наличными курьеру при получении товара.
      h2 Оплата в магазине
      p Оплата осуществляется наличными в нашем магазине по адресу: Санкт-Петербург, наб. Обводного канала, 108А.
      h2 Доставка курьером
      p Доставка осуществляется службой курьерской доставки по принципу „от двери до двери“.
      p Доставку выполняет компания «Курьер экспресс сервис».
      p Вы можете рассчитать стоимость доставки на сайте «Курьер экспресс сервис» в разделе Тарифный калькулятор.
      h2 Доставка Почтой России
      p Вы можете рассчитать стоимость доставки на сайте «Почты России» в разделе Автоматический тарификатор внутренних отправлений.
      h2 Отправка осуществляется только при 100% предоплате за товары и стоимость доставки.
      p При оплате заказа на сумму, превышающую 7 000 рублей, доставка Почтой России осуществляется бесплатно.
      h2 Самовывоз
      p Самовывоз осуществляется из нашего магазина оп адресу Санкт-Петербург, наб. Обводного канала, 108А.
      p
        strong Режим работы
        br
        | с 10 до 21, без выходных
      p После отправки заявки через сайт, вам придет письмо с номером заказа. В магазине, чтобы забрать заказ вам необходимо будет назвать номер заказа.
