extends /blocks/layout/layout


block content
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Акции'})
      h1 Акции
      -
        const discounts = [
          {
            src: 'http://triholog.org/images/products/Simone001.jpg',
            title: 'Simone Набор от перхоти №1',
            price: {old:'3450', new:'3100'},
            elements: [
              {
                href: 'http://triholog.org/simone/shampuni/shampun-protiv-perkhoti-200ml',
                title: 'Simone Шампунь против перхоти, 200 мл.',
                body: 'Шампунь борется как с сухой, так и с жирной перхотью.<br>Средство препятствует образованию перхоти, обладает бактерицидным, противозудным и успокаивающим эффектом. Делает волосы мягкими и послушными.',
              },
              {
                href: 'http://triholog.org/simone/losony/loson-dlya-volos-protiv-perkhoti-150ml',
                title: 'Simone Лосьон для волос против перхоти, 150 мл.',
                body: 'Действие натуральных растительных компоненты, входящих в состав лосьона, направлено на устранение жирной и сухой перхоти, а также шелушения и обезвоживания кожи, вызванных химической завивкой, покраской волос и другими парикмахерскими процедурами.',
              },
            ],
            href: 'http://triholog.org/simone/nabory/nabor-ot-perkhoti-1',
          },
          {
            src: 'http://triholog.org/images/products/Optima001.jpg',
            title: 'Optima Набор от перхоти №1',
            price: {old:'4471', new:'4024'},
            elements: [
              {
                href: 'http://triholog.org/optima/liniya-ot-perkhoti-zheltaya/intensivnyj-tonik-ot-perkhoti-75-ml',
                title: 'Optima Интенсивный тоник от перхоти, 75 мл',
                body: 'Эффективно и быстро избавляет от перхоти даже в самых запущенных случаях. Нормализует работу сальных желез. Препарат пользуется только положительными отзывами, поскольку действительно оказывает заявленный на упаковке эффект.',
              },
              {
                href: 'http://triholog.org/optima/liniya-ot-perkhoti-zheltaya/maska-ot-perkhoti-lyubogo-tipa-150-ml',
                title: 'Optima Маска от перхоти любого типа, 150 мл',
                body: 'Данное средство — обязательная составляющая комплексного лечения перхоти. Применяется главным образом в качестве «пилинга», обязательно перед использованием шампуня. Если вы хотите навсегда позабыть о зуде, шелушении, а также полноценно очистить кожу головы, то данная маска — ваше лучшее решение.',
              },
              {
                href: 'http://triholog.org/optima/liniya-ot-perkhoti-zheltaya/shampun-ot-perkhoti-lyubogo-tipa-250-ml',
                title: 'Optima Шампунь от перхоти любого типа, 250 мл',
                body: 'Эффективное средство, позволяющее навсегда избавиться от перхоти, поскольку не только убирает ее, но и борется с причиной ее возникновения. Может применяться при любой степени выраженности данной проблемы. Ощутимый результат можно заметить уже после первого применения шампуня.',
              },
            ],
            href: 'http://triholog.org/optima/nabory/optima-nabor-ot-perkhoti-1',
          },
          {
            src: 'http://triholog.org/images/products/Optima002.jpg',
            title: 'Optima Набор от перхоти №2',
            price: {old:'3264', new:'2938'},
            elements: [
              {
                href: '',
                title: 'Optima Лосьон от перхоти',
                body: 'Средство не только позволяет полностью избавиться от перхоти, но и очищает кожу головы, освобождая ее от отмерших клеточек, убирает зуд и покраснение. По своей эффективности лосьон превосходит все подобные средства конкурирующих компаний.',
              },
              {
                href: '',
                title: 'Optima Маска от перхоти любого типа, 150 мл',
                body: 'Данное средство — обязательная составляющая комплексного лечения перхоти. Применяется главным образом в качестве «пилинга», обязательно перед использованием шампуня. Если вы хотите навсегда позабыть о зуде, шелушении, а также полноценно очистить кожу головы, то данная маска — ваше лучшее решение.',
              },
              {
                href: '',
                title: 'Optima Шампунь от перхоти любого типа, 250 мл',
                body: 'Эффективное средство, позволяющее навсегда избавиться от перхоти, поскольку не только убирает ее, но и борется с причиной ее возникновения. Может применяться при любой степени выраженности данной проблемы. Ощутимый результат можно заметить уже после первого применения шампуня.',
              },
            ],
            href: 'http://triholog.org/optima/nabory/nabor-ot-perkhoti-2',
          },
          {
            src: 'http://triholog.org/components/com_jshopping/files/img_products/Nabor_ot_perhN3-1.jpg',
            title: 'Optima Набор от перхоти №3',
            price: {old:'5747', new:'4927'},
            elements: [
              {
                href: '',
                title: 'Optima Лосьон от перхоти',
                body: 'Средство не только позволяет полностью избавиться от перхоти, но и очищает кожу головы, освобождая ее от отмерших клеточек, убирает зуд и покраснение. По своей эффективности лосьон превосходит все подобные средства конкурирующих компаний.',
              },
              {
                href: '',
                title: 'Optima Маска от перхоти любого типа, 150 мл',
                body: 'Данное средство — обязательная составляющая комплексного лечения перхоти. Применяется главным образом в качестве «пилинга», обязательно перед использованием шампуня. Если вы хотите навсегда позабыть о зуде, шелушении, а также полноценно очистить кожу головы, то данная маска — ваше лучшее решение.',
              },
              {
                href: '',
                title: 'Optima Шампунь от перхоти любого типа, 250 мл',
                body: 'Эффективное средство, позволяющее навсегда избавиться от перхоти, поскольку не только убирает ее, но и борется с причиной ее возникновения. Может применяться при любой степени выраженности данной проблемы. Ощутимый результат можно заметить уже после первого применения шампуня.',
              },
              {
                href: '',
                title: 'Optima Сыворотка для чувствительной кожи 12*8 мл',
                body: 'Это уникальное средство, которое подарит вам незабываемое ощущение свежести, смягчит кожу и шевелюру, избавит от чрезмерной жирности волос, устранит перхоть. После его применения исчезнет воспаление, раздражение и зуд.',
              },
            ],
            href: 'http://triholog.org/optima/nabory/nabor-ot-perkhoti-3',
          },
          {
            src: 'http://triholog.org/images/products/Optima003.jpg',
            title: 'Optima Набор от выпадения волос №1',
            price: {old:'4505', new:'4055'},
            elements: [
              {
                href: 'http://triholog.org/optima/liniya-ot-vypadeniya-volos-sinyaya/aktivnyj-tonik-protiv-vypadeniya-volos-12-8-ml',
                title: 'Optima Активный тоник против выпадения волос, 12* 8 мл',
                body: 'Лучшее средство из всех существующих, которое эффективно исцеляет ослабленные, истонченные волосы, которые прекратили расти и стали выпадать. Препарат выбора при андрогенной и дефицитной алопеции.',
              },
              {
                href: 'http://triholog.org/optima/liniya-ot-vypadeniya-volos-sinyaya/maska-protiv-vypadeniya-volos-150-ml',
                title: 'Optima Маска против выпадения волос 150 мл',
                body: 'Маска остановит выпадение волос, существенно улучшит их рост, полноценно восстановит структуру. Уже после первого использования вы сможете заметить ощутимый результат. Спешите купить, пока маску не разобрали. Желающих действительно много.',
              },
              {
                href: 'http://triholog.org/optima/liniya-ot-vypadeniya-volos-sinyaya/shampun-ot-vypadeniya-volos-250-ml',
                title: 'Optima Шампунь от выпадения волос 250 мл',
                body: 'Позабудьте о проблеме выпадения волос прямо сейчас — купите это чудодейственное средство. Благодаря биологически активным веществам, входящим в его состав, оно эффективно питает волосы, укрепляя и усилия их рост.',
              },
            ],
            href: 'http://triholog.org/optima/nabory/nabor-ot-vypadeniya-volos-1',
          },
          {
            src: 'http://triholog.org/images/products/Optima004.jpg',
            title: 'Optima Набор от выпадения волос №2',
            price: {old:'3213', new:'2892'},
            elements: [
              {
                href: 'http://triholog.org/optima/liniya-ot-vypadeniya-volos-sinyaya/loson-ot-vypadeniya-volos-75-ml',
                title: 'Optima Лосьон от выпадения волос 75 мл',
                body: 'Если вы заметили, что у вас стали выпадать волосы, прекратился их рост, они ослаблены и истончены, то мы рекомендуем вам обратить внимание на это средство. Оно укрепит ваши волосы, придаст им силу и упругость, полностью остановит выпадение. Желанный эффект вы увидите уже после нескольких процедур.',
              },
              {
                href: 'http://triholog.org/optima/liniya-ot-vypadeniya-volos-sinyaya/maska-protiv-vypadeniya-volos-150-ml',
                title: 'Optima Маска против выпадения волос 150 мл',
                body: 'Маска остановит выпадение волос, существенно улучшит их рост, полноценно восстановит структуру. Уже после первого использования вы сможете заметить ощутимый результат. Спешите купить, пока маску не разобрали. Желающих действительно много.',
              },
              {
                href: 'http://triholog.org/optima/liniya-ot-vypadeniya-volos-sinyaya/shampun-ot-vypadeniya-volos-250-ml',
                title: 'Optima Шампунь от выпадения волос 250 мл',
                body: 'Позабудьте о проблеме выпадения волос прямо сейчас — купите это чудодейственное средство. Благодаря биологически активным веществам, входящим в его состав, оно эффективно питает волосы, укрепляя и усилия их рост.',
              }
            ],
            href: 'http://triholog.org/optima/nabory/nabor-ot-vypadeniya-volos-2',
          },
          {
            src: 'http://triholog.org/images/products/Optima005.jpg',
            title: 'Optima Набор от выпадения волос №3',
            price: {old:'3213', new:'2892'},
            discount: '',
            elements: [
              {
                href: 'http://triholog.org/optima/liniya-na-osnove-platsenty/loson-s-morskoj-platsentoj-12-8-ml',
                title: 'Optima Лосьон с морской плацентой, 12*8 мл',
                body: 'Превосходное средство, которое позволяет быстро восстановить структуру волос, активировать их рост. Обязательно купите его, если у вас стали выпадать волосы, появились участки облысения, а также, если ваша шевелюра больше не выглядит здоровой.',
              },
              {
                href: 'http://triholog.org/optima/liniya-ot-vypadeniya-volos-sinyaya/maska-protiv-vypadeniya-volos-150-ml',
                title: 'Optima Маска против выпадения волос 150 мл',
                body: 'Маска остановит выпадение волос, существенно улучшит их рост, полноценно восстановит структуру. Уже после первого использования вы сможете заметить ощутимый результат. Спешите купить, пока маску не разобрали. Желающих действительно много.',
              },
              {
                href: 'http://triholog.org/optima/liniya-ot-vypadeniya-volos-sinyaya/shampun-ot-vypadeniya-volos-250-ml',
                title: 'Optima Шампунь от выпадения волос 250 мл',
                body: 'Позабудьте о проблеме выпадения волос прямо сейчас — купите это чудодейственное средство. Благодаря биологически активным веществам, входящим в его состав, оно эффективно питает волосы, укрепляя и усилия их рост.',
              }
            ],
            href: 'http://triholog.org/optima/nabory/nabor-ot-vypadeniya-volos-3',
          },
          {
            src: 'http://triholog.org/components/com_jshopping/files/img_products/Nabor_seboregulN1-1.jpg',
            title: 'Optima Набор себорегулирущий (для жирной кожи головы) №1',
            price: {old:'3060', new:'2754'},
            elements: [
              {
                href: '',
                title: 'Optima Себорегулирующий шампунь для жирных волос, 250 мл',
                body: 'Это поистине уникальное средство комплексного воздействия. Благодаря нему вы очистите кожу головы от чрезмерного количества кожного сала, восстановите рост волос, а также избавитесь от надоевшей перхоти.',
              },
              {
                href: '',
                title: 'Optima Себорегулирующий лосьон для жирных волос, 75 мл',
                body: 'Данное средство быстро и бережно очистит вашу кожу от чрезмерного количества кожного сала и других сопутствующих неприятностей. Покупайте этот препарат, если вы также хотите восстановить свои волосы, вернуть им былую силу и красоту',
              },
              {
                href: '',
                title: 'Optima Себорегулирующая маска для жирных волос, 150 мл',
                body: 'Маска эффективно справится с излишней жирностью волос, полноценно очистив кожу от избытка кожного сала. Купив ее, вы навсегда позабудете о таком неприятном эффекте «немытых» волос.',
              },
            ],
            href: 'http://triholog.org/optima/nabory/nabor-seboregulirushchij-dlya-zhirnoj-kozhi-golovy-1',
          },
          {
            src: 'http://triholog.org/components/com_jshopping/files/img_products/Nabor_dlya_chuvtvitN1-1.jpg',
            title: 'Optima Набор для чувствительной кожи головы №1',
            price: {old:'6596', new:'5936'},
            elements: [
              {
                href: '',
                title: 'Optima Сыворотка для чувствительной кожи 12*8 мл',
                body: 'Это уникальное средство, которое подарит вам незабываемое ощущение свежести, смягчит кожу и шевелюру, избавит от чрезмерной жирности волос, устранит перхоть. После его применения исчезнет воспаление, раздражение и зуд.',
              },
              {
                href: '',
                title: 'Optima Шампунь для чувствительной кожи 250 мл',
                body: 'Лучшее решение для избавления от шелушения, зуда и повышенной чувствительности кожи головы. Шампунь великолепно смягчает, дарит непередаваемое ощущение свежести. Устраняет раздражение, перхоть, нормализует работу сальных желез.',
              },
              {
                href: '',
                title: 'Optima Маска-кондиционер для чувствительной кожи 150 мл',
                body: 'Лучшего средства для полноценного увлажнения, сохранения оттенка волос после окрашивания, придания шевелюре объема еще не придумали. Кроме того, данная маска-кондиционер очищает кожу, обеспечивает полноценный уход за волосами, приводит в норму выработку кожного сала. Ее уникальность заключается в том, что она является не только структурантом, но еще и выполняет функцию пилинга.',
              },
              {
                href: '',
                title: 'Optima Лосьон для чувствительной кожи 75 мл',
                body: 'Превосходный лосьон, проявляющий высокую эффективность в устранении шелушения, покраснения, зуда кожи. Бережно смягчает и ухаживает за чувствительным кожным покровом. Его уникальность состоит в том, что он может применяться также и на иных участках тела, кроме головы. Купите, и убедитесь в этом сами!',
              },
            ],
            href: 'http://triholog.org/optima/nabory/nabor-dlya-chuvstvitelnoj-kozhi-golovy-1',
          },
          {
            src: 'http://triholog.org/images/products/Chg001.jpg',
            title: 'Набор Чжангуан',
            price: {old:'8400', new:'7980'},
            discount: '',
            elements: [
              {
                href: 'http://triholog.org/chzhanguan-101/loson-101-f-120-ml',
                title: 'Чжангуан 101 Лосьон 101 F, 120 мл',
                body: 'Препарат применяется для решения проблемы с облысением в том случае, если оно вызвано какими-либо генетическими факторами и находится ориентировочно в средней стадии развития.',
              },
              {
                href: 'http://triholog.org/chzhanguan-101/loson-101-g-120-ml',
                title: 'Чжангуан 101 Лосьон 101 G, 120 мл',
                body: '«Чжангуан 101G» - это активный тоник, который необходимо применять на последней стадии лечения такой проблемы, как облысение.',
              },
              {
                href: 'http://triholog.org/chzhanguan-101/loson-101-v-120-ml',
                title: 'Чжангуан 101 Лосьон 101 В, 120 мл',
                body: 'Данный препарат рекомендуется использовать как мужчинам, так и женщинам при начальных стадиях облысения, которые могут быть вызваны совершенно различными причинами и проблемами с кожей головы и волосами в целом.',
              }
            ],
            href: 'http://triholog.org/chzhanguan-101/nabor-chzhanguan-101',
          },
        ]
      +discountsList(discounts)
