extends /blocks/layout/layout

block content
  - var homePage = true
  .home-section
    .container
      .content
        include ../blocks/home-slider/home-slider
  .home-section
    .container
      .content
        include ../blocks/catalog/catalog
  .home-section
    .container
      .content
        include ../blocks/home/home-info/home-info
  .home-section
    .container
      .content
        include ../blocks/home/home-brands/home-brands
