extends /blocks/layout/layout


block content
  .container
    .content
      p
        strong Номер заказа:
        |  00000601
        br
        strong Статус заказа:
        |  Оплачен
        br
        strong Дата заказа:
        |  15.12.2016
        br
        strong Сумма:
        |  1 руб
      p
        strong Счёт
      table
        tr
          td Полное имя (Ф.И.О.):
          td тест тест
        tr
          td Улица/Номер дома:
          td проспект Ленина 1
        tr
          td Область:
          td 
        tr
          td Город:
          td 
        tr
          td Телефон:
          td 1222
        tr
          td E-mail:
          td dmitriy.m@krasiviemedia.ru
      +grid
        +grid__item({m:9,xs:12})
          include /blocks/checkout/checkout-table/checkout-table
      p
        strong Информация о поставке
        br
        | Самовывоз из магазина

      p
        strong Информация о платеже
        br
        | Оплата онлайн

      p
        strong Заказы
        br
        | 15.12.2016	В ожидании	
        br
        | 15.12.2016	Оплачен
