extends /blocks/layout/layout


block content
  .container
    .content
      h1 Изменить мои данные
      +grid()
        +grid__item({s:6,xs:12})
          form.checkout-form
            .checkout-form__input
              label(for='signin-firstname') Имя
              input(type='text' name='first_name')#signin-firstname.form-input
            .checkout-form__input
              label(for='signin-secondname') Фамилия
              input(type='text' name='second_name')#signin-secondname.form-input
            .checkout-form__input
              label(for='signin-email') E-mail
              input(type='email' name='first_name')#signin-email.form-input
            .checkout-form__input
              label(for='signin-address-1') Область
              select(name='address_1' rows='6').form-input#signin-address-1
                option Ленинградская область
                option Московская область
            .checkout-form__input
              label(for='signin-address-2') Город
              select(name='address_1' rows='6').form-input#signin-address-1
                option Санкт-Петербург
                option Москва
            .checkout-form__input
              label(for='signin-address-3') Адрес
              input(name='address_3' rows='6').form-input#signin-address-3
            .checkout-form__input
              label(for='signin-password') Пароль
              input(type='text' name='second_name')#signin-password.form-input
            .checkout-form__input: i: small Все поля обязательны для заполнения
            .checkout-form__submit
              button(type='submit').btn.btn--checkout Сохранить
          
