extends /blocks/layout/layout

block content
  .container
    .content
      +breadcrumbs({'parents':['Главная','Каталог','Инструменты и материалы для наращивания волос','Материалы'], 'current':'Волосы для наращивания в срезе'})
      h1 Волосы для наращивания в срезе
      include ../blocks/product/product-layout/product-layout
      +grid
        +grid__item({'m':8,'xs':12})
          h2.product-subheader Описание
          p
            strong Optima Лосьон от перхоти
          p Средство не только позволяет полностью избавиться от перхоти, но и очищает кожу головы, освобождая ее от отмерших клеточек, убирает зуд и покраснение. По своей эффективности лосьон превосходит все подобные средства конкурирующих компаний.
          p
            strong Optima Маска от перхоти любого типа, 150 мл
          p Данное средство — обязательная составляющая комплексного лечения перхоти. Применяется главным образом в качестве «пилинга», обязательно перед использованием шампуня. Если вы хотите навсегда позабыть о зуде, шелушении, а также полноценно очистить кожу головы, то данная маска — ваше лучшее решение.
          p
            strong Optima Шампунь от перхоти любого типа, 250 мл
          p Эффективное средство, позволяющее навсегда избавиться от перхоти, поскольку не только убирает ее, но и борется с причиной ее возникновения. Может применяться при любой степени выраженности данной проблемы. Ощутимый результат можно заметить уже после первого применения шампуня.
          p
            strong Optima Сыворотка для чувствительной кожи 12*8 мл
          p Это уникальное средство, которое подарит вам незабываемое ощущение свежести, смягчит кожу и шевелюру, избавит от чрезмерной жирности волос, устранит перхоть. После его применения исчезнет воспаление, раздражение и зуд.
          include ../blocks/product/product-feedback/product-feedback
        +grid__item({'m':4,'xs':12})
          include ../blocks/product/product-delivery/product-delivery
