.header-cart
  display flex
  flex-direction column
  font-size font-xs
  line-height line-xs
  &__inner
    padding-left 3.5rem
    background-size 2rem auto
    position relative
    &::before
      width 3rem
      height 3rem
      display block
      content ''
      position absolute
      left 0
      top 50%
      transform translateY(-50%)
      background-size contain
      background-position left center
      background-repeat no-repeat
      margin-right (basePadding/2)
      transition filter .4s
      background url("data:image/svg+xml;utf8, <svg version='1.1' id='bag' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 78 84' style='enable-background:new 0 0 78 84;' xml:space='preserve'><style type='text/css'>	.st0{fill:%23E8B30F;}	.st1{fill-opacity:8.000000e-002;}	.st2{fill:%239E8549;}	.st3{fill:%23BA9D58;}	.st4{fill:%2337353A;}	.st5{opacity:0.2;fill:%23131313;enable-background:new    ;}	.st6{fill:%23DCDACD;}</style><title>bag</title><path id='Shape_' class='st0' d='M76.4,18.1H1.6c-0.9,0-1.6-0.7-1.6-1.6v61.8C0,81.4,2.5,84,5.7,84h66.6c3.2,0,5.7-2.6,5.7-5.8V16.5	C78,17.4,77.3,18.1,76.4,18.1z'/><path id='overlay' class='st1' d='M78,18.1v-1.6c0,0.9-0.7,1.6-1.6,1.6H1.6c-0.9,0-1.6-0.7-1.6-1.6v45.3h78V18.1z'/><path id='Shape_2' class='st2' d='M74.3,18.1h-71V0h71V18.1L74.3,18.1L74.3,18.1z'/><path id='Shape_3' class='st0' d='M7.3,8.2l-6.9,7.1l0,0c-0.6,0.7-0.6,1.7,0.1,2.3c0.3,0.3,0.7,0.4,1.1,0.4h5.7L7.3,8.2L7.3,8.2z'/><path id='Shape_4' class='st3' d='M2.5,1.3v12l4.9-5L3.5,0.1C2.9,0.2,2.5,0.7,2.5,1.3z'/><path id='Shape_5' class='st0' d='M70.7,8.2l6.9,7.1l0,0c0.6,0.7,0.6,1.7-0.1,2.3c-0.3,0.3-0.7,0.4-1.1,0.4h-5.7V8.2L70.7,8.2z'/><path id='Shape_6' class='st3' d='M75.5,1.3v12l-4.9-5l3.9-8.2C75.1,0.2,75.5,0.7,75.5,1.3z'/><path id='Shape_7' class='st4' d='M24.4,33c0,1.8-1.4,3.3-3.2,3.3c0,0,0,0,0,0c-1.8,0-3.3-1.5-3.2-3.3c0,0,0,0,0,0	c0-1.8,1.4-3.3,3.2-3.3c0,0,0,0,0,0C22.9,29.7,24.4,31.2,24.4,33C24.4,33,24.4,33,24.4,33z M60.1,33c0,1.8-1.4,3.3-3.2,3.3	c0,0,0,0,0,0c-1.8,0-3.3-1.5-3.3-3.3c0,0,0,0,0,0c0-1.8,1.4-3.3,3.2-3.3c0,0,0,0,0,0C58.7,29.7,60.1,31.2,60.1,33	C60.1,33,60.1,33,60.1,33L60.1,33z'/><path id='Shape_copy' class='st5' d='M38.9,69.7c-3.7,0-7.3-1.1-10.3-3.2C20.4,61,17,50.1,19.2,36.6c0.1-1.1,1.1-1.9,2.2-1.8	c0,0,0.1,0,0.1,0c1.1,0.2,1.9,1.2,1.7,2.3v0.1c-1.9,11.8,0.9,21.2,7.6,25.8c4.7,3.2,10.9,3.4,15.6,0.3c7-4.4,10-13.9,8.4-26.1	c-0.2-1.1,0.6-2.2,1.7-2.3c1.1-0.2,2.1,0.6,2.3,1.7c0,0,0,0,0,0.1c1.8,13.9-2,24.8-10.3,30.1C45.7,68.7,42.4,69.7,38.9,69.7z'/><path id='Shape_8' class='st6' d='M38.9,66.4c-3.7,0-7.3-1.1-10.3-3.2c-8.2-5.5-11.6-16.4-9.4-29.8c0.1-1.1,1.1-1.9,2.2-1.8	c0,0,0.1,0,0.1,0c1.1,0.2,1.9,1.2,1.7,2.3V34c-1.9,11.8,0.9,21.2,7.6,25.8c4.7,3.2,10.8,3.3,15.6,0.3c7-4.4,10-13.9,8.4-26.1	c-0.2-1.1,0.6-2.2,1.7-2.3c1.1-0.2,2.1,0.6,2.3,1.7c0,0,0,0.1,0,0.1c1.8,13.9-2,24.8-10.3,30.1C45.7,65.4,42.4,66.4,38.9,66.4z'/></svg>")
      background-position center
      background-repeat no-repeat
    
  &__item
    &--sum
      color #999999 
    &--cart
      a
        // color #999999
        color #000000
        text-decoration none
        border-bottom none
        &:hover
          color #000000
  &__checkout
    font-size font-s
    line-height line-s
