.header-cart
  .header-cart__inner
    .header-cart__item.header-cart__item--cart.viewCart
      a(href='/shop/cart/') В корзине
    .header-cart__item.header-cart__item--sum#jshop_summ_product 0 руб
    .header-cart__item.header-cart__item--count 0 товаров
  .header-cart__checkout
    a(href='') Оформить заказ
