.show-hide
  margin-bottom 1rem
  &__title
    margin-bottom 0.5rem
    span
      font-weight bold
      border-bottom 1px dashed
      cursor pointer
      @supports (text-decoration-style dashed)
        border-bottom none
        text-decoration underline
        text-decoration-style dashed
  &__body
    display none
    &--active
      display block
