.logo
  a
    font-size font-xs
    // line-height line-xs
    color #000000
    text-decoration none
    border-bottom none
    background url('../images/logo.png') left top no-repeat
    background-size contain
    padding-top 44px
    padding-left 69px
    width 282px
    max-width 100%
    display inline-block
    text-align center
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background url('../images/logo@2.png') left top no-repeat
      background-size contain
