.product-feedback
  padding-y (basePadding)
  margin-bottom (basePadding*2)
  border-top 1px solid #fafafa
  &__item
    padding (basePadding*2)
    margin-bottom basePadding
    background-color #fafafa
  &__title
    font-weight bold
    margin-bottom font-m
    line-height line-m
  &__author
    font-style italic
  &__button
    margin-bottom basePadding
  &__switcher
    display none
    &:checked + ^[-1]__form
      display block
  &__form
    display none
    background-color #fafafa
    padding (basePadding*2)
  &__field
    display flex
    margin-bottom basePadding
    label
      width 8rem
      margin-right basePadding
    textarea
      height (line-m*4 + basePadding)
      padding (basePadding/2)
      line-height line-m
      resize none
      width 100%
  &__input
      flex-grow 1
      display flex
      flex-direction column
      align-items stretch
  &__submit
    display flex
    justify-content flex-end
