.product-feedback
  h2.product-subheader Отзывы клиентов
  .product-feedback__item
    .product-feedback__title Спасибо вам большое, что уделили мне столько времени!
    .product-feedback__body
      p Спасибо вам большое, что уделили мне столько времени! У меня знакомая наращивала ваши волосы они вообще по качеству мне очень понравились. А я раньше всегда волосы покупала в хайр шопе и качество ужасное, волосы через неделю как старые становятся, а подруга сделала коррекцию второй раз вашими волосами и они как новые. Теперь буду у вас всегда заказывать!
      .product-feedback__author Марина, г. Москва
  .product-feedback__leave
    label(for='product-feedback__switcher').btn.product-feedback__button Оставить отзыв
    input(type='checkbox').product-feedback__switcher#product-feedback__switcher
    form(method="post" action="/shop/slavyanskie-volosy/volosy-dlya-narashivaniya-v-sreze/" name="reviewForm").form.product-feedback__form.validated-form#reviewform
      .product-feedback__field
        label(for='product-feedback__author') Имя: 
        .product-feedback__input
          input(type='text' name='author').form-input.validated.required#product-feedback__author
          span.validation-msg.validation-msg-required Поле обязательно
      .product-feedback__field
        label(for='product-feedback__email') E-Mail: 
        .product-feedback__input
          input(type='text' name='email').form-input.validated.required#product-feedback__email
          span.validation-msg.validation-msg-required Поле обязательно
      .product-feedback__field
        label(for='product-feedback__comment') Текст комментария:
        .product-feedback__input
          textarea.form-input.inputbox.validated.required.min-chars.max-chars#product-feedback__comment
          span.validation-msg.validation-msg-required Поле обязательно
          span.validation-msg.validation-msg-min-chars Минимальное количество символов: <b>5</b>
          span.validation-msg.validation-msg-max-chars Максимальное количество символов: <b>2000</b>
      .product-feedback__submit
        input(type="submit" name="submit_review" title="Добавить отзыв" value="Добавить отзыв").highlight-button.btn.btn--sec
