mixin cartItem(item)
  .cart-item
    .cart-item__item.cart-item__item--photo
      img(src='http://volosy24.ru/images/stories/virtuemart/product/sample_v_sreze_1.jpg')
    .cart-item__item.cart-item__item--info
      a.cart-item__name(href='') !{item.name}
      if item.clar
        .cart-item__clarification !{item.clar}
    .cart-item__item.cart-item__item--price
      .cart-item__count
        form(action='/shop/cart/' method='post').quantity-controls-form
          label.cart-item__count-controls -
            input(type='button').quantity-controls.quantity-minus
          input(type='text' title='Обновить количество в корзине' size='3' maxlength='3' name='quantity' value= item.count).inputbox.product-fields.quantity-input.form__input
          label.cart-item__count-controls +
            input(type='button').quantity-controls.quantity-plus

          input(type='hidden' name='option' value='com_virtuemart')
          input(type='hidden' name='view' value='cart')
          input(type='hidden' name='task' value='update')
          input(type='hidden' name='cart_virtuemart_product_id' value='1871::8723:18;8678:22;')
          input(type='hidden' name='virtuemart_product_id[]' value='1871')
      .cart-item__price
        .cart-item__total !{item.price * item.count} руб.
        if item.count > 1
          .cart-item__single-price 1 шт. = !{item.price} руб.
    .cart-item__item.cart-item__item--delete
      a(href='/shop/cart/delete/?cart_virtuemart_product_id=1871::8723:18;8678:22;') 
