mixin consListItem(item)
  article.consultation-list-item
    header.consultation-list-item__header
      .consultation-list-item__title
        a(href='') !{item.title}
      .consultation-list-item__category
        a(href='') !{item.category}
      .consultation-list-item__subtitle Вопрос
        span.consultation-list-item__number #!{item.number}
    .consultation-list-item__body !{item.question}
    footer.consultation-list-item__footer
      .consultation-list-item__author !{item.author}
      .consultation-list-item__date !{item.date}
