.consultation-list-item
  margin-bottom (basePadding*2)
  padding basePadding
  background-color #fafafa
  border #f6f6f6 solid 1px
  &__header
    display flex
    flex-wrap wrap
    margin-bottom (basePadding*1.5)
    margin-x -(basePadding)
  &__title
    margin-right auto
    flex 1 1 320px
    margin-bottom (basePadding/2)
    padding-x (basePadding)
    a
      font-size font-xl
      line-height font-xl
      font-weight bold
      color #000000
      text-decoration none
  &__subtitle
    margin-left auto
    flex 1 1 100%
    font-weight bold
    font-size font-s
    color #585858
    padding-x (basePadding)
  &__number
    font-weight normal
    margin-left 0.25rem
    font-size font-m
    color #000000
  &__category
    padding-x (basePadding)
    a
      font-size font-s
      line-height font-s
      color #585858
  &__body
    @extends p
  &__footer
    display flex
    margin-x -(basePadding/2)
    justify-content flex-end
    align-items baseline
  &__author
    font-weight bold
    padding-left (basePadding/2)
    &::after
      content '|'
      font-weight normal
      padding-left (basePadding/2)
  &__date
    padding-x (basePadding/2)
