.product-ask
  label(for='product-ask__switcher').btn.product-ask__button Задать вопрос
  input(type='checkbox').product-ask__switcher#product-ask__switcher
  form(method="post" action="/index.php?option=com_virtuemart&view=productdetails&virtuemart_product_id=1871&virtuemart_category_id=60&tmpl=component" name="reviewForm").form.product-ask__form.validated-form#askform
    +grid
      +grid__item({'m':7,'xs':12}).product-ask__field
        label(for='product-ask__author') Имя: 
        .product-ask__input
          input(type='text' name='author').form__input.validated.required#product-ask__author
          span.validation-msg.validation-msg-required Поле обязательно
      +grid__item({'m':7,'xs':12}).product-ask__field
        label(for='product-ask__email') E-Mail: 
        .product-ask__input
          input(type='text' name='email').form__input.validated.required#product-ask__email
          span.validation-msg.validation-msg-required Поле обязательно
      +grid__item({'m':8,'xs':12}).product-ask__field.product-ask__field--comment
        label(for='product-ask__comment') Пожалуйста, напишите свой вопрос....(от 5 до 2000 символов)
        .product-ask__input
          textarea.form__input.inputbox.validated.required.min-chars.max-chars#product-ask__comment
          span.validation-msg.validation-msg-required Поле обязательно
          span.validation-msg.validation-msg-min-chars Минимальное количество символов: <b>5</b>
          span.validation-msg.validation-msg-max-chars Максимальное количество символов: <b>2000</b>
    input(type="submit" name="submit_review" title="Добавить отзыв" value="Отправить вопрос").highlight-button.btn
