.product-buy
  display flex
  flex-wrap wrap
  align-items center
  padding-y (basePadding)
  margin-x -(basePadding)
  &__price
    font-size (font-m*2)
    line-height (line-m*2)
    color #950000
    margin-x (basePadding)
    margin-y (basePadding/2)
  &__button
    margin-x basePadding
    margin-y (basePadding/2)
    .btn
      background-color #8fc843
      font-size font-xxl
      line-height line-xxl
      &:hover
        background-color #a3e54c
