.product-buy
  .product-buy__price 9680 руб.
  span.addtocart-button.vsreze.product-buy__button
    input(type='submit' name='addtocart' value='Добавить в корзину' title='Добавить в корзину').addtocart-button.btn
