//- -
//-   var asideMenu = {
//-     'name':'',
//-     'items': {
//-       'name':'',
//-       'url':'',
//-       'children':{
//-         { 'name':'', 'url':'' }
//-       }
//-     }
//-   }

mixin aside-menu(menu = {})

  .aside-menu
    if menu.name
      +aside-header({'title':menu.name}).aside-menu__title
    ul.aside-menu__list
      each item in menu.items
        li.aside-menu__item
          a(href= item.url) !{item.name}
          if item.children
            ul.aside-menu__list.aside-menu__list--sub
              each child in item.children
                li.aside-menu__item
                  a(href= child.url) !{child.name}
