.header-main-bottom
  display flex
  flex-wrap wrap
  margin-x(-(basePadding))
  margin-y(basePadding/2)
  justify-content  space-between
  background-color #ffca26
  &__item
    padding-x(basePadding)
    &--search
      flex-grow 1
