form(action='/' method='POST').search-form.form
  input(name='searchword' type='text' placeholder='Поиск по товарам').form-input.inputboxsearch-block.search-form__input#mod-search-searchword
  input(type='submit' onclick='this.form.searchword.focus();' value='').buttonsearch-block.search-form__submit
