.footer-socials
  +footer-header('Мы в соц. сетях:')
  ul.footer-socials__list
    li.footer-socials__item.footer-socials__item--vk
      a(href='https://vk.com/salon_hairdesign' target='_blank') Вконтакте
    li.footer-socials__item.footer-socials__item--fb
      a(href='https://www.facebook.com/Центр-дизайна-волос-280103245357085/' target='_blank') Facebook
