.footer-socials
  font-size font-s
  display flex
  flex-direction column
  // align-items center
  flex-wrap wrap
  margin-left auto
  &__header
    font-size font-s
    line-height line-s
    font-weight bold
    margin-bottom (font-xs)
    font-family fontHeader
    
  &__list
    margin-x -(font-xxs/4)
  &__item
    margin-x (font-xxs/4)
    border-radius 0.33rem
    padding 0
    margin-bottom (basePadding/2)
    a
      display flex
      width 100%
      height 100%
      color #000000
      align-items center
      &::before
        // @extend .btn
        content ''
        width 1.5rem
        height 1.5rem
        background-size 1.5rem 1.5rem
        background-position center
        background-repeat no-repeat
        border-radius 2px
        padding 0
        margin-right 0.5rem
    &--vk a::before
      background-image url('../images/vk.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image url('../images/vk@2.png')
    &--fb a::before
      background-image url('../images/fb.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image url('../images/fb@2.png')
