.catalog-filter
  padding (basePadding*2)
  background-color #f5f5f1
  @media screen and (max-width point-s)
    display none
  &__block
    margin-bottom (basePadding*2)
  &__title
    margin-bottom basePadding
    font-weight bold
  &__row
    display flex
    align-items flex-start
    font-size font-s
    // line-height line-s
    margin-bottom (basePadding/2)
  &__check
    margin-right (basePadding/2)
  &__buttons
    display flex
    flex-direction column
    align-items center
  &__submit
    margin-bottom basePadding
    background-color #8fc843
    &:hover
      background-color #a3e54c
  &__reset
    background-color #c0c0c0
    border none
    border-bottom 1px dashed
    transition background-color .4s
    font-size font-xs
    &:hover
      transition none
      background-color #e0e0e0
