-
  var i = 1
include /data/catalog-filter-items
.catalog-filter
  
  each block in filter
    .catalog-filter__block
      .catalog-filter__title !{block.name}
      each item in block.items
        - i++
        .catalog-filter__row
          .catalog-filter__check
            input(type='checkbox' id='catalog-filter__check--'+i)
          label.catalog-filter__label(for='catalog-filter__check--'+i) !{item}
  .catalog-filter__buttons
    button.catalog-filter__submit.btn#filter_submit(type='submit' name='filter_submit') Подобрать
    button.catalog-filter__reset#filter_reset(type='submit' name='filter_reset') Сбросить все фильтры
