#getprice.wholesale-get-price
  +grid({'align':'center'})
    +grid__item({'m':8,'xs':12}).wholesale-get-price__info
      .wholesale-get-price__title Получить актуальный прайс на почту
      | Отправим описание типов волос, цветов, размеров и цен на почту.<br>Без спама.
    +grid__item({'tag':'form','m':4,'xs':12}).wholesale-get-price__form.form
      .wholesale-get-price__input
        input(type='email' placeholder='Ваша почта').form__input
      .wholesale-get-price__input
        input(type='tel' placeholder='Ваш телефон').form__input
      .wholesale-get-price__submit
        button(type='submit').btn Получить прайс
          
