include ../action-banner/action-banner
-
  var slides = [
    {
      'header':'Optima',
      'title':'Набор восстанавливающий №1',
      'discount':10,
      'class':'vs-1',
      'background':'vs-1',
      'price': {'old':5310, 'new':4779},
      'products': [
        'Маска восстанавливающая',
        'Шампунь восстанавливающий',
        'Флюид восстанавливающий'
      ]
    },
    {
      'header':'Optima',
      'title':'Набор для чувствительной кожи головы №1',
      'discount':10,
      'class':'chk-1',
      'background':'chk-1',
      'price': {'old':6100, 'new':5490},
      'products': ['Сыворотка для чувствительной кожи','Шампунь для чувствительной кожи','Маска-кондиционер для чувствительной кожи','Лосьон для чувствительной кожи']
    },
    {
      'header':'Optima',
      'title':'Набор себорегулирующий (для жирной кожи головы) №1',
      'discount':10,
      'class':'sbrg-1',
      'background':'sbrg-1',
      'price': {'old':2670, 'new':2403},
      'products': [
        'Себорегулирующая маска для жирных волос',
        'Себорегулирующий лосьон для жирных волос',
        'Себорегулирующий шампунь для жирных волос'
      ]
    },
    {
      'header':'Optima',
      'title':'Набор от перхоти №1',
      'discount':10,
      'class':'np-1',
      'background':'np-1',
      'price': {'old':4170, 'new':3753},
      'products': [
        'Интенсивный тоник от перхоти',
        'Маска от перхоти любого типа',
        'Шампунь от перхоти любого типа'
      ]
    },
    {
      'header':'Optima',
      'title':'Набор от перхоти №2',
      'discount':10,
      'class':'np-2',
      'background':'np-2',
      'price': {'old':2880, 'new':2592},
      'products': [
        'Лосьон от перхоти',
        'Маска от перхоти любого типа',
        'Шампунь от перхоти любого типа'
      ]
    },
    {
      'header':'Optima',
      'title':'Набор от перхоти №3',
      'discount':10,
      'class':'np-3',
      'background':'np-3',
      'price': {'old':4920, 'new':4428},
      'products': [
        'Лосьон от перхоти',
        'Маска от перхоти любого типа',
        'Шампунь от перхоти любого типа',
        'Сыворотка для чувствительной кожи'
      ]
    },
    {
      'header':'Optima',
      'title':'Набор от выпадения волос №1',
      'discount':10,
      'class':'nvv-1',
      'background':'nvv-1',
      'price': {'old':4240, 'new':3816},
      'products': [
        'Активный тоник против выпадения волос',
        'Маска против выпадения волос',
        'Шампунь от выпадения волос'
      ]
    },
    {
      'header':'Optima',
      'title':'Набор от выпадения волос №2',
      'discount':10,
      'class':'nvv-2',
      'background':'nvv-2',
      'price': {'old':2880, 'new':2592},
      'products': [
        'Лосьон от выпадения волос',
        'Маска против выпадения волос',
        'Шампунь от выпадения волос'
      ]
    },
    {
      'header':'Simone',
      'title':'Набор от перхоти №1',
      'discount':10,
      'class':'sim-1',
      'background':'sim-1',
      'price': {'old':3450, 'new':3100},
      'products': [
        'Шампунь против перхоти',
        'Лосьон для волос против перхоти'
      ]
    },
    {
      'header':'Чжангуан 101',
      'title':'При покупке 3-х любых лосьонов',
      'discount':5,
      'class':'los',
      'background':'los',
      'price': {'old':8400, 'new':7980},
      'products': [
        'Чжангуан 101 Лосьон 101 F',
        'Чжангуан 101 Лосьон 101 G',
        'Чжангуан 101 Лосьон 101 В'
      ]
    },
  ]
.home-slider.js-slider
  //- ul.home-slider__list.fotorama(data-width='100%' data-ratio='1064/288')
  ul.home-slider__list.js-slider__list
    each slide in slides
      li.home-slider__item.js-slider__item
        +action-banner(slide)
  
