.header-login
  display flex
  position relative
  align-items center
  height 100%
  &__button
    color #000000
    cursor pointer
    transition color .4s
    padding (basePadding)
    ^[-1]:hover &
      color #8f6001
      transition none
    &::after
      content ''
      display inline-block
      margin-left 0.5rem
      display inline-block
      width (font-xs/1.5)
      height (font-xs/1.5)
      border-right 2px solid
      border-bottom 2px solid
      transform translateY(-25%) rotate(45deg)
  &__list
    display flex
    flex-direction column
    transform scale(0)
    transform-origin 0 0
    opacity 0
    transition .4s transform, .2s opacity
    position absolute
    top calc(2.25rem)
    right 0
    min-width 100%
    background-color #ffca26
    padding 0 basePadding (basePadding/2)
    z-index 22
  &__item
    // font-size font-s
    // line-height line-s
    // border-right 1px solid
    margin-bottom (basePadding/3)
    border-bottom 1px solid rgba(0,0,0,.1)
    a
      display inline-block
      padding-x 0
      padding-y (basePadding/2)
      color #000000
      text-decoration none
      white-space nowrap
      &:hover
        color #8f6001
    &:last-child
      border-right none
  &:hover
    & ^[-1]__list
      transform scale(1)
      transition none
      opacity 1
