.header-login
  .header-login__button Личный кабинет
  ul.header-login__list
    li.header-login__item
      a(href='') Войти
    li.header-login__item
      a(href='') Зарегистрироваться
    li.header-login__item
      a(href='') Мои заказы
    li.header-login__item
      a(href='') Мои данные
    li.header-login__item
      a(href='') Выйти
