.consultation-item
  margin-bottom (basePadding*3)
  // padding basePadding
  // border #f6f6f6 solid 1px
  margin-top -0.45rem
  &__header
    display flex
    flex-wrap wrap
    margin-bottom (basePadding*1.5)
    margin-x -(basePadding)
  &__title
    margin-right auto
    flex 1 1 320px
    margin-bottom (basePadding/2)
    padding-x (basePadding)
  &__subtitle
    margin-left auto
    flex 1 1 100%
    font-weight bold
    color #585858
    padding-x (basePadding)
  &__number
    font-weight normal
    margin-left 0.25rem
    font-size font-m
    color #000000
  &__question-body
    @extends p
  &__question-footer
    display flex
    margin-x -(basePadding/2)
    justify-content flex-end
    align-items baseline
    margin-bottom (basePadding*2)
  &__question-author
    font-weight bold
    padding-left (basePadding/2)
    &::after
      content '|'
      font-weight normal
      padding-left (basePadding/2)
  &__question-date
    padding-x (basePadding/2)
  &__answer-title
    font-weight bold
    color #585858
    margin-bottom (basePadding*1.5)
    
  &__answer-body
    display flex
    margin-x -(basePadding/2)
  &__answer-photo
    padding-x (basePadding/2)
    width 6.75rem
    flex-shrink 0
  &__answer-text
    padding-x (basePadding/2)
    @extends p
  &__answer-footer
    display flex
    justify-content flex-end
    align-items baseline
    font-size font-l
  &__answer-author
    padding-left (basePadding/2)
    font-weight bold
    &::after
      content '|'
      font-weight normal
      padding-left (basePadding/2)
  &__question-desc
    padding-x (basePadding/2)
    
