article.consultation-item
  header.consultation-item__header
    h1.consultation-item__title быстрый рост волос
    .consultation-item__subtitle Вопрос
      span.consultation-item__number #8606
  .consultation-item__question
    .consultation-item__question-body Здравствуйте!подскажите пожайлуста как сделать чтобы волос начал быстре расти!заранее спасибо
    .consultation-item__question-footer
      .consultation-item__question-author Мйлена
      .consultation-item__question-date 04.03.2013
  .consultation-item__answer
    .consultation-item__answer-title Ответ
    .consultation-item__answer-body
      .consultation-item__answer-photo
        img(src='/images/consultation/expert-3.jpg') 
      .consultation-item__answer-text Необходимо использовать наружные средства, стимулирующие кровообращение и рост волосяных фолликулов. Некоторые из этих средств представлены на нашем сайте. Что-то вы можете найти и в своем городе. Необходимо использовать наружные средства, стимулирующие кровообращение и рост волосяных фолликулов. Некоторые из этих средств представлены на нашем сайте. Что-то вы можете найти и в своем городе.
    .consultation-item__answer-footer
      .consultation-item__answer-author
        a(href='') Дарья
      .consultation-item__question-desc врач дерматолог-трихолог
