mixin discountsList(list)
  .discounts-list
    each item in list
      - item.discount = item.discount ? item.discount : '10'
      .discounts-list__item
        +grid({justify:'center'})
          +grid__item({m:3,xs:6}).discounts-list__img
            img(src!= item.src alt!= item.title)
          +grid__item({m:9,xs:12}).discounts-list__body
            h2.discounts-list__title !{item.title}
            .discounts-list__prices
              span.discounts-list__price-old !{item.price.old} руб
              | .
              |
              | Скидка !{item.discount}%
              br
              strong.discounts-list__price-new !{item.price.new} руб
              | .
              | 
              | Вы экономите !{item.price.old - item.price.new} руб
            .discounts-list__elements-header Набор состоит из:
            ul.discounts-list__elements
              each elem in item.elements
                li.discounts-list__element
                  a(href!= elem.href).discounts-list__element-title !{elem.title}
                  .discounts-list__element-body !{elem.body}
            a(href != item.href).discounts-list__link Посмотреть набор в каталоге
