.wholesale-properties
  &__item
    margin-bottom (basePadding*2)
  &__title
    font-size font-m
    line-height line-m
    margin-bottom (font-m)
    font-weight bold
  &__list
    margin -(basePadding/4)
    margin-bottom -(basePadding*2)
    display flex
    flex-wrap wrap
  &__list-item
    position relative
    margin (basePadding/4)
    margin-bottom (basePadding*2)
    width 40px
    .other-customfield
      display flex
      flex-direction column
      align-items center
    input[type='radio']
      display none
      &:checked ~ .other-customfield-dec
        box-shadow 0 0 5px 1px #FF3300
        display block
        position absolute
        width 44px
        height calc(100% + 0.25rem)
        top -2px
        left -2px
    .vm-img-desc
      font-size font-s
    img
      margin-bottom (basePadding/2)
.product-quantity
  display flex
  align-items baseline
  margin-x -(basePadding/2)
  &__counter
    display flex
    align-items center
    margin-x (basePadding/2)
    .quantity-controls
      width font-xl
      line-height font-xl
      font-size font-xl
      padding 0
      border none
      color #ffffff
      background-color #666666
    .quantity-input
      width 3rem
      height line-xl
      padding (basePadding/3)
      margin-x (basePadding/3)
      text-align center
  &__desc
    font-size font-xs
    margin (basePadding/4)
