.footer-description
  h1 Купить косметику для волос именно в нашем интернет магазине выгоднее всего
  p Наш магазин – единственное место, где вы сможете не просто купить лечебную косметику для волос, но и получить индивидуальную консультацию врача-трихолога, который поможет вам подобрать косметику, подходящую конкретно для вашего типа волос. Являясь отделением компании «Центр Дизайна Волос» мы можем смело заявить о том, что мы – эксперты во всем, что касается лечения, оздоровления и восстановления волос.
  p Прежде чем принять решение купить лечебную косметику для волос, мы рекомендуем проконсультироваться с нашими специалистами. Консультации проводятся как в режиме онлайн, так и по телефону.
  p На нашем сайте представлена косметика для лечения волос и средства маскировки облысения. Вся продукция прошла контроль качества, что подтверждается сертификатами. Мы работаем напрямую с дистрибьюторами, что позволяет нам снизить стоимость продукции, а вам – сэкономить свои деньги.
  p Представленная на сайте продукция подойдет как женщинам, так и мужчинам. За размытым определением «лечебная косметика для волос» скрываются профессиональные комплексы для лечения и профилактики, использовать которые можно даже в домашних условиях.
  p Мы ценим наших клиентов, потому понятие конфиденциальности для нас не пустой звук. Все ваши покупки сохраняются в тайне, информация полученная от вас используется только для повышения качества обслуживания и доставки товаров.
  p Оплатить покупки в магазине можно любым удобным для вас способом. Доступна как оплата курьеру при доставке, так банковской картой или посредством электронной валюты. Также вы можете оплатить лечебную косметику для волос через терминалы или со счета мобильного телефона.
  p Купленные товары вы можете забрать из магазина самостоятельно, или заказать доставку по России. Доставка осуществляется курьерской службой «Курьер экспресс сервис», по принципу «от двери до двери».
  p Принимая решение купить лечебную косметику для волос в нашем магазине, вы делаете правильный выбор. Это экономно и удобно, а индивидуальная консультация практикующего специалиста позволит вам выбрать лечебную косметику, подходящую именно для вашего типа волос.
  p Мы ждем вас каждый день, с 10:00 до 21:00. Свяжитесь с нами по телефону или электронной почте, чтобы задать все интересующие вас вопросы.
