.footer-description
  padding-top basePadding
  padding-bottom (basePadding*2)
  margin-bottom (basePadding*2)
  border-bottom 2px solid #f6f6f6
  p
  h1
    color #666
    font-size font-xs
    line-height line-xs
    &:first-child
      margin-top 0
    &:last-child
      margin-bottom 0
