.footer-payment
  +footer-header('Мы принимаем')
  ul.footer-payment__list
    li.footer-payment__item.footer-payment__item--visa
    li.footer-payment__item.footer-payment__item--mc
    li.footer-payment__item.footer-payment__item--alpha
    li.footer-payment__item.footer-payment__item--qiwi
    li.footer-payment__item.footer-payment__item--wm
    li.footer-payment__item.footer-payment__item--ya
