.footer-payment
  &__list
    display flex
    flex-wrap wrap
    margin (-(basePadding/3))
  &__item
    $width = 'calc((100%/3) - ' + (basePadding/3)*2 + ')'
    width unquote($width)
    height 2rem
    margin (basePadding/3)
    // background #ccc
    border-radius 0.25rem
    box-shadow 0 0 2px #aaaaaa
    background-size contain
    background-position center
    background-repeat no-repeat
    &--visa
      background-image  url('../images/footer-payment-visa.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image  url('../images/footer-payment-visa@2.png')
    &--mc
      background-image  url('../images/footer-payment-mc.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image  url('../images/footer-payment-mc@2.png')
    &--alpha
      background-image  url('../images/footer-payment-alfa.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image  url('../images/footer-payment-alfa@2.png')
    &--qiwi
      background-image  url('../images/footer-payment-qiwi.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image  url('../images/footer-payment-qiwi@2.png')
    &--wm
      background-image  url('../images/footer-payment-webmoney.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image  url('../images/footer-payment-webmoney@2.png')
    &--ya
      background-image  url('../images/footer-payment-yandex.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image  url('../images/footer-payment-yandex@2.png')
