nav.header-sites.container.hidden-s.hidden-xs
  .content
    ul.header-sites__list
      li.header-sites__item
        a(href='http://www.hairdesign.ru/')
          span Центр<br>замещения волос
      li.header-sites__item
        a(href='http://salonvolos.spb.ru/')
          span Салон красоты
      li.header-sites__item
        a(href='http://www.vsepariki.com')
          span Парики и<br>головные уборы
      li.header-sites__item.header-sites__item_active
        .a-repl
          span Лечебная косметика<br>для волос
      li.header-sites__item
        a(href='http://zagustitelvolos.com')
          span Загустители волос<br>Toppik
