header.header-main
  include header-sites/header-sites
  .container.hidden-s.hidden-xs
    .content
      include header-main-top/header-main-top
  .container.hidden-s.hidden-xs
    .content
      include header-main-bottom/header-main-bottom
      //- include header-nav/header-nav
  .container.hidden-s.hidden-xs
    .content
      include header-banner/header-banner
  .container.hidden-hd.hidden-xl.hidden-l.hidden-m
    .content
      include header-mobile/header-mobile
