.consultation-experts
  padding (basePadding*2)
  margin-bottom (basePadding*2)
  border #f6f6f6 solid 1px
  &__item
    display flex
    flex-direction column
    text-align center
  &__photo
    align-self center
    margin-bottom basePadding
    // padding-x (basePadding*4)
    img
      border 1px solid #f6f6f6
      padding (basePadding/3)
      max-width 8rem
  &__name
    margin-bottom (basePadding/2)
    font-size font-xl
    line-height line-xl
    font-weight bold
  &__info
    font-size font-s
    line-height line-s
