mixin consultationExperts(list)
  .consultation-experts
    +grid({'justify':'center'})
      each item in list
        +grid__item({'m':4,'xs':6}).consultation-experts__item
          .consultation-experts__photo
            img(src= item.photo alt= item.name title= item.name)
          .consultation-experts__name 
            a(href='') !{item.name}
          .consultation-experts__info !{item.info}
