.header-contacts
  div
    .header-contacts__phone.header-contacts__phone--big +7 (800) 775-05-36
      .header-contacts__phone-clar Беспллатно по России
  div
    .header-contacts__phone +7 (812) 701-06-28
    .header-contacts__schedule пн-вс c 10:00 до 21:00
    a.phone_order.header-contacts__offer-call#offer-call(onclick='Comagic.openSitePhonePanel()')  Заказать звонок
