-
  var filter = [
    {
      'name':'Для кого', 
      'items':[
        'Для мужчин',
        'Для женщин'
      ]
    },
    {
      'name':'Назначение', 
      'items':[
        'От перхоти и себореи',
        'Для улучшения структуры волос',
        'Для сухих волос',
        'Для лечения выпадения волос',
        'Для жирных волос',
        'Для ослабленных волос',
        'Для окрашенных волос',
        'Для лечения андрогенной алопеции',
        'Для лечения очагового облысения',
        'Для стимуляции роста волос'
      ]
    },
    {
      'name':'Вид', 
      'items':[
        'Ампулы',
        'Лосьоны',
        'Маски',
        'Масла',
        'Спреи',
        'Сыворотки',
        'Шампуни',
        'Флюиды',
        'Маски-кондиционеры',
        'Тоники',
        'Гели',
        'Наборы'
      ]
    }
    
  ]
