-
  var consultationQuestions = [ 
    {
      'title':'шампунь анафаз',
      'category':'Препараты для лечения волос',
      'number':'8604',
      'author':'Валерий',
      'date':'16.03.2014',
      'question':'Здравсвуйте! Подскажите пожалуйста бывает ли у Вас шампунь анафаз? И какова стоимость ?Заранее спасибо!'
    },
    {
      'title':'щётки из натуральной щетины, щётки навредить волосам, бережно ухаживают',
      'category':'Уход за тонкими волосами',
      'number':'8605',
      'author':'Юлия',
      'date':'12.11.2013',
      'question':'Здравствуйте! В наше время стали очень популярны щётки из натуральной щетины, очень многие их нахваливают и просто в восторге от таких щёток! Но хочется узнать мнение именно специалиста в этой области...'
    },
    {
      'title':'быстрый рост волос',
      'category':'Питание и восстановление слабых волос',
      'number':'8606',
      'author':'Мйлена',
      'date':'04.03.2013',
      'question':'Здравствуйте!подскажите пожайлуста как сделать чтобы волос начал быстре расти!заранее спасибо'
    },
    {
      'title':'плохое качество волос',
      'category':'Питание и восстановление слабых волос',
      'number':'8607',
      'author':'Никита',
      'date':'08.09.2012',
      'question':'Если чужие волосы пересадить себе нельзя , точто делать? У меня просто слава богу нету облысения, но мои волосы меня не устраивют,чтобы я не делал....'
    },
    {
      'title':'вьющиеся волосы, увлажнение волос, питание волос',
      'category':'Уход за вьющимися волосами',
      'number':'8608',
      'author':'Татьяна',
      'date':'07.02.2012',
      'question':'Здравствуйте. У меня от природы сильно вьющиеся волосы(спиралькой).Примерно года два я их выпрямляла утюжком,сушила феном,волосы не были окрашенными. Спустя эти два года я решила ходить с кудрявыми во...'
    },
  ]
