.list-starred
  &__item
    font-weight bold
    margin-bottom basePadding
    padding-left (basePadding*4)
    background-image url('../images/star.png')
    background-repeat no-repeat
    background-position basePadding 0
    background-size auto
