.wholesale-feedback
  &__item
    font-size font-m
    line-height line-m
    margin-bottom (basePadding*2)
    .youtube-responsive
      margin-bottom 0
      &__iframe
        margin-bottom 0
  &__name
    font-size font-s
    line-height line-s
  &__activity
    font-size font-s
    line-height line-s
    font-weight bold
